.box{
  margin: 18px 0 0 15px;
}
.hd{
  display: inline-block;
}
.hd img{
  width:90px;
  height:90px;
  border:1px solid #e8e8e8;
}
.choose{
  margin-top: 20px;
}
.choose button{
  margin-right:15px;
}
