{{template "base/head" .}}
<!--main-->
<div class = "git_container">
	{{template "repo/header" .}}
	{{template "base/alert" .}}
	<div class = "git_project tab-base">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="{{.RepoLink}}/project" >概览</a></li>
			<li role="presentation"><a href="{{.RepoLink}}" >代码</a></li>
			<li role="presentation" class="active"><a href="{{.RepoLink}}/milestones" >里程碑</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/issues" >任务</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/labels" >标签</a></li>
			{{if .IsRepositoryAdmin}}
				<li role="presentation"><a href="{{.RepoLink}}/settings" >设置</a></li>
			{{end}}
		</ul>
		<div class = "tab-content">
			<div class = "row">
				{{if .IsRepositoryWriter}}
				<div class = "project_milestone_hd"><a href = "{{$.Link}}/new" class = "btn btn-primary">新建里程碑</a></div>
				{{end}}
				<div class = "project_milestone_bd mt-10">
					<div class = "btn-group">
						<a href = "{{.RepoLink}}/milestones?state=open" class = "btn btn-default {{if not .IsShowClosed}} btn-danger{{end}}">
							<i class = "ion-flag"></i>
							{{.OpenCount}}个未完成
						</a>
						<a href = "{{.RepoLink}}/milestones?state=closed" class = "btn btn-default {{if .IsShowClosed}} btn-success{{end}}">
							<i class = "ion-flag"></i>
							{{.ClosedCount}}个已完成
						</a>
					</div>
					<div class = "list-group mar-top">
						{{range .Milestones}}
							{{$CreateTimeFor := TimeSince .CreateTimeFor $.Lang}}
							<div class = "list-group-item">
							<div class = "row">
								<div class = "col-sm-6">
									<p><a href="{{$.RepoLink}}/issues?state={{$.State}}&milestone={{.ID}}" class = "btn-link text-lg"><i class = "ion-flag mr-5"></i>{{.Name | Sanitize}}</a></p>
									<p class = "mt-10">
										<a href="{{.HomeLink}}" class = "text-primary">
											<img src="{{.RelAvatarLink}}" class = "img-circle" width = "20px" height = "20px" />
											{{.UserName}}
										</a>
										创建于<span>{{$CreateTimeFor}}</span>
									</p>
									{{if .Content}}
										<p class = "mt-10">{{.RenderedContent|Str2html}}</p>
									{{end}}
								</div>
								<div class = "col-sm-6">
									<div class = "mt-5">完成:{{.Completeness}}%</div>
									<div class = "progress mb-5">
										<div style='width:{{.Completeness}}%;' class = "progress-bar progress-bar-primary"></div>
									</div>
									<p>任务情况:&nbsp;未解决&nbsp;<span class = "text-danger">{{.NumOpenIssues}}</span>&nbsp;个,已解决&nbsp;<span class = "text-primary">{{.NumClosedIssues}}</span>&nbsp;个,已验收 <span class = "text-success">{{.NumFixIssues}}</span> 个;
										截止时间:&nbsp;
										{{ $closedDate:= TimeSince .ClosedDate $.Lang }}
										{{if .IsClosed}}
										<span class="octicon octicon-clock"></span> {{$.i18n.Tr "repo.milestones.closed" $closedDate|Str2html}}
										{{else}}
										<span class="octicon octicon-calendar"></span>
										{{if .DeadlineString}}
										<span {{if .IsOverDue}}class="text-danger"{{end}}>{{.DeadlineString}}</span>
										{{else}}
											暂无截止日期
										{{end}}
										{{end}}
									</p>
									{{if $.IsRepositoryWriter}}
									<p class = "mt-5">
										<a href="{{$.Link}}/{{.ID}}/edit" data-id={{.ID}} data-title={{.Name}} class = "text-primary">编辑</a>
										{{if .IsClosed}}
										<a href="{{$.Link}}/{{.ID}}/open" data-id={{.ID}} data-title={{.Name}} class = "text-success ml-10">开启</a>
										{{else}}
										<a href="{{$.Link}}/{{.ID}}/close" data-id={{.ID}} data-title={{.Name}} class = "text-warning ml-10">关闭</a>
										{{end}}
										<a href="javascript:;" data-url="{{$.RepoLink}}/milestones/delete" data-id="{{.ID}}" class = "text-danger ml-10 deleteMilestone">删除</a>
									</p>
									{{end}}
								</div>
							</div>
						</div>
						{{end}}
					</div>
					{{with .Page}}
					{{if gt .TotalPages 1}}
					<div aria-label="Page navigation" class = "text-right">
						<ul class="pagination">
							<li class="{{if not .HasPrevious}}disabled{{end}}"><a {{if .HasPrevious}}href="{{$.Link}}?state={{$.State}}&page={{.Previous}}"{{end}}>
								<span aria-hidden="true">&laquo;</span>
							</a></li>
							{{range .Pages}}
							{{if eq .Num -1}}
							<li class = "disabled"><a>...</a></li>
							{{else}}
							<li class="{{if .IsCurrent}}active{{end}}">
								<a {{if not .IsCurrent}}href="{{$.Link}}?state={{$.State}}&page={{.Num}}"{{end}}>{{.Num}}</a>
							</li>
							{{end}}
							{{end}}
							<li class="{{if not .HasNext}}disabled{{end}}">
								<a {{if .HasNext}}href="{{$.Link}}?state={{$.State}}&page={{.Next}}"{{end}}>
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</div>
					{{end}}
					{{end}}
				</div>
			</div>
		</div>
	</div>
</div>
<!--main end-->

{{template "base/footer" .}}







