<div class = "panel-body">
	<form action="{{EscapePound .Link}}" method="post">
		{{.CsrfTokenHtml}}
		<div class = "row">
			<div class = "col-sm-6">
				<div class = "form-group">
					<p class = "text-main text-bold">标题</p>
					<input name="title" type = "text"
								 class = "form-control"
								 placeholder="请输入标题"
								 id = "issueName"
								 value="{{.title}}" autofocus required />
					<small class = "help-block" id = "issueNameTip"></small>
				</div>
			</div>
			<div class = "col-sm-6">
				<div class = "form-group">
					<p class = "text-main text-bold">紧急程度</p>
					<select class = "demo_select2 form-control" id = "urgency" name = "importance">
						<option value="0">有空看看</option>
						<option value="1">紧急</option>
						<option value="2">非常紧急</option>
						<option value="3">十万火急</option>
					</select>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class = "col-sm-6">
				<div class = "form-group">
					<p class = "text-main text-bold">里程碑</p>
					<select class = "demo_select2 form-control" id = "milestone" name="milestone_id">
						<option value = "None">请选择</option>
						{{range .OpenMilestones}}
						<option value = "{{.ID}}">{{.Name}}</option>
						{{end}}
					</select>
				</div>
			</div>
			<div class = "col-sm-6">
				<div class = "form-group">
					<p class = "text-main text-bold">指派给</p>
					<select class = "demo_select2 form-control" id = "appoint" name="assignee_id">
						{{range .Assignees}}
						<option  value="{{.ID}}" selected = {{eq $.SignedUser.Name .Name}}>{{.Name}}</option>
						{{end}}
					</select>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class = "col-sm-6">
				<div class = "form-group">
					<p class = "text-main text-bold">标签</p>
					{{$LabelsLen := len .Labels}}
					{{if eq $LabelsLen 0}}
						<a href = "{{.RepoLink}}/labels" class = "btn btn-primary">立即启用标签功能</a>
					{{else}}
						<select class = "dome_select2 form-control" multiple="multiple" id = "label_ids" name = "label_ids">
							{{range .Labels}}
								<option class="{{if .IsChecked}}checked{{end}} item" data-id="{{.ID}}" value = "{{.ID}}" data-id-selector="#label_{{.ID}}" data-background-color = "{{.Color}}"><span class="octicon {{if .IsChecked}}octicon-check{{end}}"></span><span class="label color" style="background-color: {{.Color}}"></span> {{.Name}}</option>
							{{end}}
						</select>
					{{end}}
				</div>
			</div>
		</div>

		<div class = "row">
			<div class = "col-sm-12">
				<div class = "form-group">
					<p class = "text-main text-bold">描述</p>
					<textarea id="content" class="form-control project_milestone_desc" name="content"
										data-id="issue-{{.RepoName}}"
										data-url="{{AppSubUrl}}/api/v1/markdown"
					data-context="{{.Repo.RepoLink}}">{{if .IssueTemplate}}{{.IssueTemplate}}{{else if .PullRequestTemplate}}{{.PullRequestTemplate}}{{else}}{{.content}}{{end}}</textarea>
				</div>
			</div>
		</div>
		<div class = "row">
			<button class = "btn btn-primary" id = "createIssue">提交</button>
			<a href="{{.RepoLink}}/issues" class = "ml-10 btn-link">返回任务列表</a>
		</div>
	</form>
</div>
