{{template "base/head" .}}

<!--main-->
<div class = "git_container">
	{{template "repo/header" .}}
	<div class = "git_project tab-base">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="{{.RepoLink}}/project" >概览</a></li>
			<li role="presentation"><a href="{{.RepoLink}}" >代码</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/milestones" >里程碑</a></li>
			<li role="presentation" class="active"><a href="{{.RepoLink}}/issues" >任务</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/labels" >标签</a></li>
			{{if .IsRepositoryAdmin}}
				<li role="presentation"><a href="{{.RepoLink}}/settings" >设置</a></li>
			{{end}}
		</ul>
		<div class = "tab-content">
			{{if .Issue.IsPull}}
			{{template "repo/issue/view_title" .}}
			<!--{{template "repo/pulls/tab_menu" .}}-->
			<div class="ui bottom attached tab pull segment active" data-tab="request-{{.ID}}">
				{{template "repo/issue/view_content" .}}
			</div>
			{{else}}
			<div>
				{{template "repo/issue/view_title" .}}
				{{template "repo/issue/view_content" .}}
			</div>
			{{end}}
		</div>
	</div>
</div>
<!--main end-->
{{template "base/footer" .}}
