<div class = "row">
	<div class = "col-sm-9">
		<div class = "issue_body mar-top">
			<ul class = "issue_list">
				{{ $createdStr:= TimeSince .Issue.Created $.Lang }}
					<li class = "issue_item mar-btm">
						<a {{if gt .Issue.Poster.ID 0}}href="{{.Issue.Poster.HomeLink}}"{{end}} class = "btn-link issue_user">
							<img class = "img-circle img-sm" src="{{.Issue.Poster.RelAvatarLink}}">
						</a>
						<div class = "issue_item_body issueItem">
							<div class = "issue_item_head">
								<div class = "pull-right">
									{{$SignerUserName := or .SignedUser.Name ""}}
									{{if eq .Issue.Poster.DisplayName $SignerUserName}}
										<a href="javascript:;" class = "btn-link mar-rgt issueEditor">编辑</a>
										<!--<a href="javascript:;">x</a>-->
									{{end}}
								</div>
								<div>
									<a {{if gt .Issue.Poster.ID 0}}href="{{.Issue.Poster.HomeLink}}"{{end}} class = "btn-link">{{.Issue.Poster.DisplayName}}</a>
									<span>创建于{{$createdStr}}</span>
								</div>
							</div>
							<div class = "issue_item_content">
								<div class = "summernote">
									{{if .Issue.RenderedContent}}
										{{.Issue.RenderedContent|Str2html}}
									{{else}}
										<span class="no-content">{{.i18n.Tr "repo.issues.no_content"}}</span>
									{{end}}
								</div>
								<div class = "mar-top summernoteBtn">
									<button class = "btn btn-primary issueEditorSave">保存</button>
									<button class = "btn btn-default issueEditorCancel">取消</button>
								</div>
							</div>
						</div>
					</li>
					{{$IssueImportanceState := .IssueImportanceState}}
					{{range .Issue.Comments}}
						{{ $createdStr:= TimeSince .Created $.Lang }}
							<!-- 0 = COMMENT 评论, 1 = REOPEN 设置为未完成, 2 = CLOSE 设置为已完成, 3 = ISSUE_REF, 4 = COMMIT_REF, 5 = COMMENT_REF, 6 = PULL_REF -->
						{{if eq .Type 0}}
							<li class = "issue_item mar-btm" >
								<a {{if gt .Poster.ID 0}}href="{{.Poster.HomeLink}}"{{end}} class = "btn-link issue_user">
									<img class = "img-circle img-sm" src="{{.Poster.RelAvatarLink}}" />
								</a>
								<div class = "issue_item_body issueItem">
									<div class = "issue_item_head">
										{{if eq .Poster.Name $.SignedUser.Name}}
											<div class = "pull-right">
												<a href="javascript:;" class = "btn-link mar-rgt issueEditor">编辑</a>
												<a href="javascript:;" class = "delete-comment" data-url = "{{$.RepoLink}}/comments/{{.ID}}/delete">x</a>
											</div>
										{{end}}
										<div>
											<a {{if gt .Poster.ID 0}}href="{{.Poster.HomeLink}}"{{end}}  class = "btn-link">{{.Poster.DisplayName}}</a>
											<span>
												{{$.i18n.Tr "repo.issues.commented_at" .HashTag $createdStr | Safe}}
											</span>
										</div>
									</div>
									<div class = "issue_item_content">
										<div class = "summernote">
											{{.Content | Safe}}
										</div>
										<div class = "mar-top summernoteBtn">
											<button class = "btn btn-primary issueEditorSave" data-url = "{{$.RepoLink}}/comments/{{.ID}}">保存</button>
											<button class = "btn btn-default issueEditorCancel">取消</button>
										</div>
									</div>
								</div>
							</li>
						{{else if eq .Type 1}}
							<li class = "issue_status text-center  mar-btm">
								<!--<span class="octicon octicon-primitive-dot"></span>-->
								<a href="{{.Poster.HomeLink}}" class = "btn-link">
									<img class = "img-circle img-xs" src="{{.Poster.RelAvatarLink}}">
									<span class = "ml-5">{{.Poster.Name}}</span>
								</a>
								<span class = "mar-rgt">于{{$createdStr}}设置为<span class = "text-danger">未解决</span></span>
							</li>
						{{else if eq .Type 2}}
							<li class = "issue_status text-center  mar-btm">
								<!--<span class="octicon octicon-circle-slash"></span>-->
								<a href="{{.Poster.HomeLink}}" class = "btn-link">
									<img class = "img-circle img-xs" src="{{.Poster.RelAvatarLink}}">
									<span class = "ml-5">{{.Poster.Name}}</span>
								</a>
								<span class = "mar-rgt">于{{$createdStr}}设置为<span class = "text-primary">已解决</span></span>
							</li>
						{{else if eq .Type 3}}
							<li>3</li>
						{{else if eq .Type 4}}
							<li class = "issue_status text-center  mar-btm">
								<!--<span class="octicon octicon-bookmark"></span>-->
								<a href="{{.Poster.HomeLink}}" class = "btn-link">
									<img class = "img-circle img-xs" src="{{.Poster.RelAvatarLink}}">
									<span class = "ml-5">{{.Poster.DisplayName}}</span>
								</a>
								<span class = "mar-rgt">{{$.i18n.Tr "repo.issues.commit_ref_at" .EventTag $createdStr | Safe}}</span>
						</li>
						{{else if eq .Type 5}}
							<li>5</li>
						{{else if eq .Type 6}}
							<li>6</li>
						{{else if eq .Type 7}}
							<!--指派-->
							<li class = "issue_status text-center  mar-btm">
									<!--<span class = "ion-forward"></span>-->
									<a href="{{.Poster.HomeLink}}" class = "btn-link">
										<img class = "img-circle img-xs" src="{{.Poster.RelAvatarLink}}">
										<span class = "ml-5">{{.Poster.DisplayName}}</span>
									</a>
									{{if eq .AssigneeId 0}}
										取消了指派人
									{{else}}
										<span class = "mar-rgt">于{{$createdStr}}指派给
											<a href = "{{.AssigneeLink}}" class = "btn-link">
												<img class = "img-circle img-xs" src="{{.AssigneeAvatar}}">
												<span class = "ml-5">{{.AssigneeName}}</span>
											</a>
										</span>
									{{end}}
							</li>
							<!--指派 end-->
						{{else if eq .Type 8}}
							<!--重要程度-->
							<li class = "issue_status text-center  mar-btm">
								<a href="{{.Poster.HomeLink}}" class = "btn-link">
									<img class = "img-circle img-xs" src="{{.Poster.RelAvatarLink}}">
									<span class = "ml-5">{{.Poster.DisplayName}}</span>
								</a>
								<span class = "mar-rgt">于{{$createdStr}}设置为 {{index $IssueImportanceState .Importance}}
								</span>
							</li>
							<!--重要程度 end-->
						{{else if eq .Type 9}}
							<!--标签-->
							<li class = "issue_status text-center  mar-btm">
								<a href="{{.Poster.HomeLink}}" class = "btn-link">
									<img class = "img-circle img-xs" src="{{.Poster.RelAvatarLink}}">
									<span class = "ml-5">{{.Poster.DisplayName}}</span>
								</a>
								{{if eq .AddOrDel 0}}
									<span class = "mar-rgt">于{{$createdStr}} 清除了所有标签
								{{else}}
									<span class = "mar-rgt">于{{$createdStr}} {{if eq .AddOrDel 1}}添加新标签{{else}}删除了标签{{end}}
										{{$Label := .Label}}
										{{range $.Labels}}
											{{$IsLabel := eq .ID $Label}}
											<span class="label {{if $IsLabel}} {{else}}hide{{end}}" style="color: {{.ForegroundColor}}; background-color: {{.Color}}">
												{{.Name | Sanitize}}
											</span>
										{{end}}
									</span>
								{{end}}
							</li>
							<!--标签 end-->
						{{else if eq .Type 10}}
							<!--里程碑-->
							<li class = "issue_status text-center  mar-btm">
								<a href="{{.Poster.HomeLink}}" class = "btn-link">
									<img class = "img-circle img-xs" src="{{.Poster.RelAvatarLink}}">
									<span class = "ml-5">{{.Poster.DisplayName}}</span>
								</a>
								{{if eq .Milestone 0}}
								<span class = "mar-rgt">于{{$createdStr}}</span> 取消了选中的里程碑
								{{else}}
									<span class = "mar-rgt">于{{$createdStr}}</span>把任务归属到
									{{$Milestone := .Milestone}}
									{{range $.OpenMilestones}}
										{{if eq $Milestone .ID}}
											<a href="{{$.RepoLink}}/issues?milestone={{.ID}}" class = "btn-link mar-rgt">{{.Name | Sanitize}}</a>
										{{end}}
									{{end}}
								{{end}}
							</li>
							<!--里程碑 end-->
							{{else if eq .Type 11}}
							<!--已验收-->
							<li class = "issue_status text-center  mar-btm">
								<a href="{{.Poster.HomeLink}}" class = "btn-link">
									<img class = "img-circle img-xs" src="{{.Poster.RelAvatarLink}}">
									<span class = "ml-5">{{.Poster.DisplayName}}</span>
								</a>
								<span class = "mar-rgt">于{{$createdStr}}设置为<span class = "text-success">已验收</span></span>
							</li>
							<!--已验收 end-->
						{{end}}

				{{end}}
			</ul>

			{{if .Issue.IsPull}}
				<div class="comment merge box">
					<a class="avatar text
						{{if .Issue.PullRequest.HasMerged}}purple
						{{else if .Issue.IsClosed}}grey
						{{else if .IsPullReuqestBroken}}red
						{{else if .Issue.PullRequest.IsChecking}}yellow
						{{else if .Issue.PullRequest.CanAutoMerge}}green
						{{else}}red{{end}}"><span class="mega-octicon octicon-git-merge"></span></a>
					<div class="content">
						<div class="ui merge segment">
							{{if .Issue.PullRequest.HasMerged}}
							<div class="item text purple">
								{{$.i18n.Tr "repo.pulls.has_merged"}}
							</div>
							{{if .IsPullBranchDeletable}}
							<div class="ui divider"></div>
							<div>
								<form class="ui form" action="{{.DeleteBranchLink}}" method="post">
									{{.CsrfTokenHtml}}
									<button class="ui red button">{{$.i18n.Tr "repo.pulls.delete_branch"}}</button>
								</form>
							</div>
							{{end}}
							{{else if .Issue.IsClosed}}
							<div class="item text grey">
								{{$.i18n.Tr "repo.pulls.reopen_to_merge"}}
							</div>
							{{else if .IsPullReuqestBroken}}
							<div class="item text red">
								<span class="octicon octicon-x"></span>
								{{$.i18n.Tr "repo.pulls.data_broken"}}
							</div>
							{{else if .Issue.PullRequest.IsChecking}}
							<div class="item text yellow">
								<span class="octicon octicon-sync"></span>
								{{$.i18n.Tr "repo.pulls.is_checking"}}
							</div>
							{{else if .Issue.PullRequest.CanAutoMerge}}
							<div class="item text green">
								<span class="octicon octicon-check"></span>
								{{$.i18n.Tr "repo.pulls.can_auto_merge_desc"}}
							</div>
							{{if .IsRepositoryWriter}}
							<div class="ui divider"></div>
							<div>
								<form class="ui form" action="{{.Link}}/merge" method="post">
									{{.CsrfTokenHtml}}
									<button class="ui green button">
										<span class="octicon octicon-git-merge"></span> {{$.i18n.Tr "repo.pulls.merge_pull_request"}}
									</button>
								</form>
							</div>
							{{end}}
							{{else}}
							<div class="item text red">
								<span class="octicon octicon-x"></span>
								{{$.i18n.Tr "repo.pulls.cannot_auto_merge_desc"}}
							</div>
							<div class="item text grey">
								<span class="octicon octicon-info"></span>
								{{$.i18n.Tr "repo.pulls.cannot_auto_merge_helper"}}
							</div>
							{{end}}
						</div>
					</div>
				</div>
			{{end}}

			{{if .IsSigned}}
				{{if .IsRepositoryWriter}}
				<div class = "mar-top issue_ft">
					<form calss="comment-form" action="{{$.RepoLink}}/issues/{{.Issue.Index}}/comments" method="post">
						{{.CsrfTokenHtml}}
						<textarea class = "summernoteBottom form-control hide" id = "summernoteBottom" name = "content" placeholder = "请输入评论"></textarea>
						<div class = "mar-top">
							<input class="status" name="status" type="hidden">
							<button class = "btn btn-primary" id = "issueEditorSave" disabled >评论</button>
						</div>
					</form>
				</div>
				{{end}}
			{{end}}
		</div>
	</div>
	{{if .IsRepositoryWriter}}
	<div class = "col-sm-3">
		<!--状态-->
		<form class="issue-form" style = "display:inline-block" action="{{$.RepoLink}}/issues/{{$.Issue.Index}}/comments" method="post">
			<input class = "status" name="status" type="hidden">
			<input class = "csrf" name = "_csrf" type = "hidden" />
			<input name = "content" type = "hidden" />
			<div class = "mar-top dropdown select-menu select-state">
				<a href="#dropdownMenu1" class = "btn-block dropdown-toggle" data-toggle="dropdown">
					状态
					<span class="caret"></span>
				</a>
				<ul class = "dropdown-menu menu" data-action="update" data-update-url="{{$.RepoLink}}/issues/{{.Issue.Index}}/comments" aria-labelledby="dropdownMenu1">
						<li class = "issue-status-button {{if eq .Issue.IsClosed 0}}active selected{{end}}" data-status="未解决" data-status-and-comment="" data-status-val="reopen"><a href="javascript:;">未解决</a></li>
						<li class = "issue-status-button {{if eq .Issue.IsClosed 1}}active selected{{end}}" data-status="已解决" data-status-and-comment="" data-status-val="close"><a href="javascript:;">已解决</a></li>
						<li class = "issue-status-button {{if eq .Issue.IsClosed 2}}active selected{{end}}" data-status="已验收" data-status-and-comment="" data-status-val="fix"><a href="javascript:;">已验收</a></li>
				</ul>
			</div>
		</form>
		<ul class = "mar-top mar-lft">
			{{if eq .Issue.IsClosed 0}}
			<li><a href="javascript:;" class = "text-danger">未解决</a></li>
			{{else if eq .Issue.IsClosed 1}}
			<li><a href="javascript:;" class = "text-primary">已解决</a></li>
			{{else if eq .Issue.IsClosed 2}}
			<li><a href="javascript:;" class = "text-success">已验收</a></li>
			{{end}}
		</ul>
		<!--状态 end-->
		<!--指派-->
		<div class = "mar-top dropdown select-menu select-assignee">
			<a href="#dropdownMenu1" class = "btn-block dropdown-toggle" data-toggle="dropdown">
				指派给
				<span class="caret"></span>
			</a>
			<ul class = "dropdown-menu menu" data-action="update" data-update-url="{{$.RepoLink}}/issues/{{$.Issue.Index}}/assignee" aria-labelledby="dropdownMenu1">
				<!--<li  class="no-select item"><a href = "javascript:;">取消指派人</a></li>-->
				{{range .Assignees}}
				<li class = "item {{if eq .ID $.Issue.Assignee.ID}}active selected{{end}}"
						data-id="{{.ID}}"
						data-href="{{$.RepoLink}}/issues?assignee={{.ID}}"
						data-avatar="{{.RelAvatarLink}}">
					<a href = "JavaScript:;">
						<img src="{{.RelAvatarLink}}" class = "img-circle" width = "20px" height = "20px" />
						{{.DisplayName}}
					</a>
				</li>
				{{end}}
			</ul>
		</div>
		<ul class = "mar-top mar-lft">
			<li>
				<span class="no-select item {{if .Issue.Assignee}}hide{{end}}">取消指派人</span>
			</li>
			{{if .Issue.Assignee}}
			<li>
				<a class="item" href="{{$.RepoLink}}/issues?assignee={{.Issue.Assignee.ID}}">
					<img class = "img-circle ml-5" width = "20px" height = "20px" src="{{.Issue.Assignee.RelAvatarLink}}"> {{.Issue.Assignee.DisplayName}}
				</a>
			</li>
			{{end}}
		</ul>
		<!--指派 end-->
		<hr />
		<!--重要程度-->
		<div class = "mar-top dropdown select-menu select-import">
			<a href="#dropdownMenuImport" class = "btn-block dropdown-toggle" data-toggle="dropdown">
				重要程度
				<span class="caret"></span>
			</a>
			<ul class = "dropdown-menu menu" data-action="update" data-update-url="{{$.RepoLink}}/issues/{{$.Issue.Index}}/importance" aria-labelledby="dropdownMenuImport">
					<li class = "item {{if eq 0 .Issue.Importance}}active selected{{end}}" data-id="0"><a href="javascript:;">有空看看</a></li>
					<li class = "item {{if eq 1 .Issue.Importance}}active selected{{end}}" data-id="1"><a href="javascript:;">紧急</a></li>
					<li class = "item {{if eq 2 .Issue.Importance}}active selected{{end}}" data-id="2"><a href="javascript:;">非常紧急</a></li>
					<li class = "item {{if eq 3 .Issue.Importance}}active selected{{end}}" data-id="3"><a href="javascript:;">十万火急</a></li>
			</ul>
		</div>
		<ul class = "mar-top mar-lft">
			{{if eq 0 .Issue.Importance}}
			<li><a class="item" href="javascript:;">有空看看</a></li>
			{{end}}
			{{if eq .Issue.Importance 1}}
			<li><a class="item" href="javascript:;">紧急</a></li>
			{{end}}
			{{if eq .Issue.Importance 2}}
			<li><a class="item" href="javascript:;">非常紧急</a></li>
			{{end}}
			{{if eq .Issue.Importance 3}}
			<li><a class="item" href="javascript:;">十万火急</a></li>
			{{end}}
		</ul>
		<!--重要程度 end-->
		<hr />
		<!--标签-->
		<div class = "mar-top dropdown select-menu select-label">
			<a href="#dropdownMenu2" class = "btn-block dropdown-toggle" data-toggle="dropdown">
				标签
				<span class="caret"></span>
			</a>
			<ul class = "dropdown-menu menu" data-action="update" data-update-url="{{$.RepoLink}}/issues/{{$.Issue.Index}}/label" aria-labelledby="dropdownMenu2">
				<li  class="no-select item">
					<a href = "javascript:;">{{.i18n.Tr "repo.issues.new.clear_labels"}}</a>
				</li>
				{{range .Labels}}
				<li class = "{{if .IsChecked}}checked{{end}} item" data-id="{{.ID}}" data-id-selector="#label_{{.ID}}">
					<a href="javascript:;">
						<span class="octicon {{if .IsChecked}}octicon-check{{end}}"></span>
						<span class="label color" style="background-color: {{.Color}}"></span>
						{{.Name}}
					</a>
				</li>
				{{end}}
			</ul>
		</div>
		<ul class = "mar-top mar-lft ">
			<li class="no-select {{if .HasSelectedLabel}}hide{{end}}">
				<label>{{.i18n.Tr "repo.issues.new.no_label"}}</label>
			</li>
			{{range .Labels}}
				<li class = "mt-5"><a class="label {{if not .IsChecked}}hide{{end}}"
					 id="label_{{.ID}}"
					 href="{{$.RepoLink}}/issues?labels={{.ID}}" style="color: {{.ForegroundColor}}; background-color: {{.Color}}">
					{{.Name | Sanitize}}
				</a></li>
			{{end}}
		</ul>
		<!--标签 end-->
		<hr />
		<!--里程碑-->
		<div class = "mar-top dropdown select-menu select-milestone">
			<a href="#dropdownMenu3" class = "btn-block dropdown-toggle" data-toggle="dropdown">
				里程碑
				<span class="caret"></span>
			</a>
			<ul class = "dropdown-menu menu" aria-labelledby="dropdownMenu3"
					data-action="update"
					data-update-url="{{$.RepoLink}}/issues/{{$.Issue.Index}}/milestone"
			>

				<li class="no-select item"><a href = "javascript:;">{{.i18n.Tr "repo.issues.new.clear_milestone"}}</a></li>
				{{if .OpenMilestones}}
					{{range .OpenMilestones}}
						<li class = "item {{if eq .ID $.Issue.MilestoneID}}active selected{{end}}"
								data-id="{{.ID}}"
								data-href="{{$.RepoLink}}/issues?milestone={{.ID}}">
							<a href="javascript:;">
								{{.Name | Sanitize}}
							</a>
						</li>
					{{end}}
				{{end}}
				{{if .ClosedMilestones}}
					{{range .ClosedMilestones}}
						<li class = "item"
								data-id="{{.ID}}"
								data-href="{{$.RepoLink}}/issues?milestone={{.ID}}">>
							<a href="javascript:;">
								{{.Name | Sanitize}}
							</a>
						</li>
					{{end}}
				{{end}}
			</ul>
		</div>
		<div class = "mar-top mar-lft">
			<div class="no-select item {{if .Issue.Milestone}}hide{{end}}">{{.i18n.Tr "repo.issues.new.no_milestone"}}</div>
			<div class="selected">
				{{if .Issue.Milestone}}
						<div>
							<a href="{{.RepoLink}}/issues?milestone={{.Issue.Milestone.ID}}" class = "btn-link mar-rgt">{{.Issue.Milestone.Name | Sanitize}}</a> 完成：{{or .Issue.Milestone.Completeness 0}}%
						</div>
						<div class = "progress progress-xs">
							<div class = "progress-bar" style = 'width:{{.Issue.Milestone.Completeness}}%;'></div>
						</div>
				{{end}}
			</div>
		</div>
		<!--里程碑 end-->
	</div>
	{{end}}
</div>

