<div class = "row issue_hd bord-btm pad-btm">
	{{if .IsIssueOwner}}
	<!--<div class = "panel-control mar-top">-->
		<!--<button class = "btn btn-primary" id="edit-title">{{.i18n.Tr "repo.issues.edit"}}</button>-->
		<!--<button class = "btn btn-primary ml-10">重新开始</button>-->
	<!--</div>-->
	{{end}}
	<h3 class = "panel-title">
		<span class="index ml-5">#{{.Issue.Index}}</span>
		<span class = "ml-5">{{.Issue.Title}}</span>
	</h3>
	<div class = "mar-lft">
		{{ $createdStr:= TimeSince .Issue.Created $.Lang }}
		{{if eq .Issue.IsClosed 0}}
			<label class="label label-danger"><i class="octicon octicon-issue-opened"></i> 未解决</label>
		{{else if eq .Issue.IsClosed 1}}
			<label class="label label-primary"><i class="octicon octicon-issue-closed"></i> 已解决</label>
		{{else}}
			<label class="label label-success"><i class="octicon octicon-issue-closed"></i> 已验收</label>
		{{end}}
		<span class = "mar-lft">由</span>
		<a href="{{.Issue.Poster.HomeLink}}" class = "btn-link mar-hor">
			<img src="{{.Issue.Poster.RelAvatarLink}}" class = "img-circle img-xs" />
			<span class = "ml-5">{{.Issue.Poster.Name | Safe}}</span>
		</a>
		<span>发布于{{$createdStr}}  - {{.Issue.NumComments}} 条评论</span>
	</div>
</div>





<!--<div class="sixteen wide column title">-->
	<!--<div class="ui grid">-->
		<!--<h1 class="twelve wide column">-->
			<!--<span class="index">#{{.Issue.Index}}</span> <span id="issue-title" class="has-emoji">{{.Issue.Title}}</span>-->
			<!--<div id="edit-title-input" class="ui input" style="display: none">-->
				<!--<input value="{{.Issue.Title}}">-->
			<!--</div>-->
		<!--</h1>-->
		<!--{{if .IsIssueOwner}}-->
			<!--<div class="four wide column">-->
				<!--<div class="edit-zone text right">-->
					<!--<div id="edit-title" class="ui basic green not-in-edit button">{{.i18n.Tr "repo.issues.edit"}}</div>-->
					<!--<div id="cancel-edit-title" class="ui basic blue in-edit button" style="display: none">{{.i18n.Tr "repo.issues.cancel"}}</div>-->
					<!--<div id="save-edit-title" class="ui green in-edit button" style="display: none" data-update-url="{{$.RepoLink}}/issues/{{.Issue.Index}}/title">{{.i18n.Tr "repo.issues.save"}}</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--{{end}}-->
	<!--</div>-->
	<!--{{if .HasMerged}}-->
		<!--<div class="ui purple large label"><i class="octicon octicon-git-pull-request"></i> {{.i18n.Tr "repo.pulls.merged"}}</div>-->
	<!--{{else if .Issue.IsClosed}}-->
		<!--<div class="ui red large label"><i class="octicon octicon-issue-closed"></i> {{.i18n.Tr "repo.issues.closed_title"}}</div>-->
	<!--{{else}}-->
		<!--<div class="ui green large label"><i class="octicon octicon-issue-opened"></i> {{.i18n.Tr "repo.issues.open_title"}}</div>-->
	<!--{{end}}-->

	<!--{{if .Issue.IsPull}}-->
		<!--{{if .Issue.PullRequest.HasMerged}}-->
			<!--{{ $mergedStr:= TimeSince .Issue.PullRequest.Merged $.Lang }}-->
			<!--<a {{if gt .Issue.PullRequest.Merger.ID 0}}href="{{.Issue.PullRequest.Merger.HomeLink}}"{{end}}>{{.Issue.PullRequest.Merger.Name}}</a>-->
			<!--<span class="pull-desc">{{$.i18n.Tr "repo.pulls.merged_title_desc" .NumCommits .HeadTarget .BaseTarget $mergedStr | Safe}}</span>-->
		<!--{{else}}-->
			<!--<a {{if gt .Issue.Poster.ID 0}}href="{{.Issue.Poster.HomeLink}}"{{end}}>{{.Issue.Poster.Name}}</a>-->
			<!--<span class="pull-desc">{{$.i18n.Tr "repo.pulls.title_desc" .NumCommits .HeadTarget .BaseTarget | Str2html}}</span>-->
		<!--{{end}}-->
	<!--{{else}}-->
		<!--{{ $createdStr:= TimeSince .Issue.Created $.Lang }}-->
		<!--<span class="time-desc">-->
			<!--{{if gt .Issue.Poster.ID 0}}-->
				<!--{{$.i18n.Tr "repo.issues.opened_by" $createdStr .Issue.Poster.HomeLink .Issue.Poster.Name | Safe}}-->
			<!--{{else}}-->
				<!--{{$.i18n.Tr "repo.issues.opened_by_fake" $createdStr .Issue.Poster.Name | Safe}}-->
			<!--{{end}}-->
			<!--·-->
			<!--{{$.i18n.Tr "repo.issues.num_comments" .Issue.NumComments}}-->
		<!--</span>-->
	<!--{{end}}-->
	<!--<div class="ui divider"></div>-->
<!--</div>-->
