{{template "base/head" .}}

<!--main-->
<div class = "git_container">
	{{template "repo/header" .}}
	<div class = "git_project tab-base">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="{{.RepoLink}}/project" >概览</a></li>
			<li role="presentation"><a href="{{.RepoLink}}" >代码</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/milestones" >里程碑</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/issues" >任务</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/labels" >标签</a></li>
			{{if .IsRepositoryAdmin}}
			<li role="presentation" class = "active"><a href="{{.RepoLink}}/settings" >设置</a></li>
			{{end}}
		</ul>
		<div class = "tab-content">
			<div class="tab-base tab-stacked-left">
				<div class = "row">
					<div class = "col-sm-4">
						{{template "repo/settings/navbar" .}}
					</div>
					<div class = "col-sm-8">
						<div class="col-sm-12">
							<div class = "list-group">
								<div class="ui attached table segment">
									<div class="ui hook list">
										<div class="item">
											{{.i18n.Tr "repo.settings.githooks_desc" | Str2html}}
										</div>
										{{range .Hooks}}
										<div class="item">
											<span class="text {{if .IsActive}}green{{else}}grey{{end}}"><i class="octicon octicon-primitive-dot"></i></span>
											<span>{{.Name}}</span>
											<a class="text blue ui right" href="{{$.RepoLink}}/settings/hooks/git/{{.Name}}"><i class="fa fa-pencil"></i></a>
										</div>
										{{end}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{{template "base/footer" .}}
