<div class="list-group">
		<a class="{{if .PageIsSettingsOptions}}active{{end}} list-group-item" href="{{.RepoLink}}/settings">
			基本设置
		</a>
		<a class="{{if .PageIsSettingsCollaboration}}active{{end}} list-group-item" href="{{.RepoLink}}/settings/collaboration">
			协作者管理
		</a>
		{{if not .Repository.IsMirror}}
		<a class="{{if .PageIsSettingsBranches}}active{{end}} list-group-item" href="{{.RepoLink}}/settings/branches">
			{{.i18n.Tr "repo.settings.branches"}}
		</a>
		{{end}}
		<!--<a class="{{if .PageIsSettingsHooks}}active{{end}} list-group-item" href="{{.RepoLink}}/settings/hooks">-->
			<!--{{.i18n.Tr "repo.settings.hooks"}}-->
		<!--</a>-->
		<!--{{if .SignedUser.CanEditGitHook}}-->
			<!--<a class="{{if .PageIsSettingsGitHooks}}active{{end}} item" href="{{.RepoLink}}/settings/hooks/git">-->
				<!--{{.i18n.Tr "repo.settings.githooks"}}-->
			<!--</a>-->
		<!--{{end}}-->
		<!--<a class="{{if .PageIsSettingsKeys}}active{{end}} item" href="{{.RepoLink}}/settings/keys">-->
			<!--{{.i18n.Tr "repo.settings.deploy_keys"}}-->
		<!--</a>-->
</div>
