*{margin:0;padding:0;box-sizing:border-box;}
html,body{
    font-size:14px;
    font-family: Microsoft Yahei, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
li{list-style-type:none;}
a{text-decoration: none;}
::scrollbar {
    width:5px;
    height:5px;
}
/* Track */
::scrollbar-track {
    background:#3f4b5d;
}
/* Handle */
::scrollbar-thumb {
    border-radius: 10px;
    background:#76879e;
}
::scrollbar-thumb:window-inactive {
    background: #333d4b;
}
.right{float:right;}
.left{float:left;}