extends layout
block link
  link(rel="stylesheet", type="text/css", href="/statics/css/login.css")
  script(type="text/javascript", src="/statics/js/activation.js")
block content
        .entryBox
            .entryHd
                div.w1200
                    div.indexLogo.left
                        a(href="/")
                            img(src="/statics/image/logo.png")
                    div.indexLogin.right
                        div.userBefore
                            a.icon-username(href="/signUp") 注册
                            = "|"
                            a.icon-username1(href="/login") 登录
            .entryBd
                .entryModel.forgetPw
                    .entryModelBg
                        img(src="/statics/image/login_bg.jpg")
                        p Make it simple<br />make it fast
                    .entryFrom
                        .title 账户激活
                        .entryItemBox
                            .activation
                              p.success.icon-finish 激活成功,
                                span.time 5
                                |秒后跳到登录页
                              a.btn-primary(href = "/login") 立即登录
        .entryBg
