extends layout
block link
  link(rel="stylesheet", type="text/css", href="/statics/css/login.css")
  script(type="text/javascript", src="/statics/js/forgetPw.js")
block content
        .entryBox
            .entryHd
                div.w1200
                    div.indexLogo.left
                        a(href="/")
                            img(src="/statics/image/logo.png")
                    div.indexLogin.right
                        div.userBefore
                            a.icon-username(href="/signUp") 注册
                            = "|"
                            a.icon-username1(href="/login") 登录
            .entryBd
                .entryModel.forgetPw
                    .entryModelBg
                        img(src="/statics/image/login_bg.jpg")
                        p Make it simple<br />make it fast
                    .entryFrom
                        .title 忘记密码
                        .entryItemBox
                            .entryItem
                                .entryInputBox.icon-username
                                    input.entryInput#forgetInput(type = "text",placeholder = "请输入用户名或注册邮箱")
                                .entryTip
                                    p#forgetInputTip 邮箱不存在
                            .entryBtnBox
                                button.btn.btn-primary.entryBtn#sendEmail 发送邮件
                             .entryFromFt
                                 a(href = "/signUp") 立即注册
                                 a(href = "/") 回首页
                                 a(href = "/login")  登录
        .entryBg
