extends layout
block link
        link(rel="stylesheet", type="text/css", href="/statics/css/index.css")
        script(type="text/javascript", src="/statics/js/index.js")
block content
        div.indexContainer
            div.indexUser
                div.w1200
                    div.indexLogo.left
                        a(href="/")
                            img(src="/statics/image/logo.png")
                    div.indexLogin.right
                        if user&&user.user_name
                            div.userAfter
                                a#userName.icon-username(href="javascript:;")= user.user_name
                                div.userDown
                                    a#quit(href="javascript:;") 退出
                        else
                            div.userBefore
                                a.icon-username(href="/signUp") 注册
                                = "|"
                                a.icon-username1(href="/login") 登录
                    div.indexNav.left
                        ul
                            li
                                a(href="javascript:;") 首页
                            li
                                a(href="#indexSuperiority") 优势
                            li
                                a(href="#indexService") 服务
                            //li
                            //    a(href="#indexCase") 案例
                            li
                                a(href="https://docs.boxlinker.com",target="_blank") 文档
                            li
                              a(href="#indexAbout") 我们
             //手机端导航
            div.indexNav_m
                ul
                    li.current
                        a(href="javascript:;") 首页
                    li
                        a(href="javascript:;") 优势
                    li
                        a(href="javascript:;") 服务
                    li
                        a(href="javascript:;") 文档
                    li
                        a(href="javascript:;") 我们
            div.indexBanner
                div.w1200
                    div#bannerBtn.btnBox
                        if user&&user.user_name
                            a.btn.noMargin(href=url.console) 回到控制台
                        else
                            a.btn(href="/login") 登录
                            a.btn(href="/signUp") 注册
             //手机端banner
            div.indexBanner_m
                div.bannerslide
                    div.bannerswiper
                        img(src="/statics/image/banner_img.jpg")
            div#indexSuperiority.indexSuperiority
                div.w1200
                    div.headerCenter BoxLinker 优势
                    div.indexItemBd
                        img(src="/statics/image/superiority_bg.png")
                        div.indexSuperiorityItem.indexSuperiorityItem1.icon-cxcx
                            h3 持续创新
                            p 获得持续迭代的创新交付能力和永久可用的业务连续性
                        div.indexSuperiorityItem.indexSuperiorityItem2.icon-zdyw
                            h3 自动运维
                            p 将传统的基础架构一步带入谷歌级别的云化数据中心时代
                        div.indexSuperiorityItem.indexSuperiorityItem3.icon-bjjf
                            h3 便捷交付
                            p
                                ="以容器为标准交付件，打造IT应用商店，实现复杂分布式"
                                br
                                ="应用的秒级部署"
                        div.indexSuperiorityItem.indexSuperiorityItem4.icon-sjzx
                            h3 数据中心
                            p
                                ="让软件定义一切，充分利用企业的存量 IT 资产，打造面向未来的计算"
                                br
                                ="平台，为创新插上计算的翅膀"
                        div.indexSuperiorityItem.indexSuperiorityItem5.icon-yyjg
                            h3 混合应用架构
                            p 单体/SOA/微服务的混合托管
                        div.indexSuperiorityItem.indexSuperiorityItem6.icon-cslc
                            h3 简化测试流程
                            p 加速研发测试流程，让代码承载业务的脉动，快速推向市场
                        div.indexSuperiorityItem.indexSuperiorityItem7.icon-txss
                            h3 高并发弹性伸缩
                            p 全自动秒级扩容缩容、即时响应业务需求
                        div.indexSuperiorityItem.indexSuperiorityItem8.icon-bfcc
                            h3 备份存储
                            p
                                ="一站式解决互联网时代非结构化数据管理难题，助力产品实现"
                                br
                                ="最佳用户体验"
            div#indexService.indexService.indexService_m
                div.w1200
                    div.headerCenter BoxLinker 服务
                    div.isItem
                        div.isItemIcon
                        h2 云架构方案设计
                        p 对于很多企业来说，应用向云迁移只是万里长征最艰难的第一步，云服务虽然有着很强的弹性扩展性，但更复杂、多变，BoxLinker能够提供7*24小时的代管服务，实时监控服务状态，及时的故障恢复，帮助企业专注于核心业务。
                    div.isItem
                        div.isItemIcon
                        h2 运维优化支撑
                        p 对于很多企业来说，应用向云迁移只是万里长征最艰难的第一步，云服务虽然有着很强的弹性扩展性，但更复杂、多变，BoxLinker能够提供7*24小时的代管服务，实时监控服务状态，及时的故障恢复，帮助企业专注于核心业务。
            div#indexCase.indexCase
                div.w1200
                    div.headerCenter BoxLinker 案例
                    div.indexCaseBox
                        div.hd
                            h3#title 某互联网教育平台1
                            p#content
                                ="用户为一家专门为青少年提供互联网教育内容的公司，业务涵盖教育、娱乐和动漫等服务内容，具有国际领先水平的技术开发团队、内容创作团队和教育背景管理团队。目前公司为了顺应互联网"
                                br
                                ="发展的趋势，开辟了新的垂直电子商务业务。"
                        div.bd
                            div.indexCaseItem.active
                                div.indexCaseIcon.indexCaseIcon1
                                = "通过使用BOXLINKER的自动化运维平台、开发测试管理平台和跨云管理平台，企业实现了微服务架构的改造，提高了交付效率，并且降低了计算资源的成本。"
                            div.indexCaseItem
                                div.indexCaseIcon.indexCaseIcon2
                                = "通过使用BOXLINKER的自动化运维平台、开发测试管理平台和跨云管理平台，企业实现了微服务架构的改造，提高了交付效率，并且降低了计算资源的成本。"
                            div.indexCaseItem
                                div.indexCaseIcon.indexCaseIcon3
                                = "通过使用BOXLINKER的自动化运维平台、开发测试管理平台和跨云管理平台，企业实现了微服务架构的改造，提高了交付效率，并且降低了计算资源的成本。"
            div#indexAbout.indexAbout
                div.w1200
                    div.headerCenter 关于我们
                    div.indexAboutItem
                        p BoxLinker技术团队成立于2016年，隶属于于北京奥锐驰科技有限公司。作为容器服务领域的先驱者，BoxLinker技术团队拥有全球领先、超大规模企业级云平台的开发、运维和管理经验，团队成员来自于国内外知名云计算企业。旨在为客户提供最专业的企业级容器云平台。
                        div#aboutBtn.btnBox
                            if !user || !user.user_name
                                a.btn(href="/signUp") 注册
                                a.btn(href="/login") 登录
                            else
                                a.btn(href=url.console) 回到控制台
            div.indexFooter
                div.w1200
                    p 公司地址：北京朝阳区望京绿地中心B座1905
                    p Copyright ©2015 北京奥锐驰科技有限公司版权所有 | 京ICP备15049099号
        script.
            window.onload = function () {
                var data = [{
                    title: "某互联网教育平台1",
                    content: "用户为一家专门为青少年提供互联网教育内容的公司，业务涵盖教育、娱乐和动漫等服务内容，具有国际领先水平的技术开发团队、内容创作团队和教育背景管理团队。目前公司为了顺应互联网发展的趋势，开辟了新的垂直电子商务业务。"
                },
                    {
                        title: "某互联网图书平台2",
                        content: "用户为一家专门为青少年提供互联网教育内容的公司，业务涵盖教育、娱乐和动漫等服务内容，具有国际领先水平的技术开发团队、内容创作团队和教育背景管理团队。目前公司为了顺应互联网发展的趋势，开辟了新的垂直电子商务业务。"
                    },
                    {
                        title: "某互联网平台3",
                        content: "用户为一家专门为青少年提供互联网教育内容的公司，业务涵盖教育、娱乐和动漫等服务内容，具有国际领先水平的技术开发团队、内容创作团队和教育背景管理团队。目前公司为了顺应互联网发展的趋势，开辟了新的垂直电子商务业务。"
                    }];
                var items = document.getElementsByClassName("indexCaseItem");
                var title = document.getElementById("title");
                var content = document.getElementById("content");
                for (var i = 0; i <= items.length-1; i++) {
                    items[i].onclick = function (i) {
                      return function(){
                        removeClass();
                        items[i].className = "indexCaseItem active";
                        title.innerHTML = data[i].title;
                        content.innerHTML = data[i].content;
                      }
                    }(i)
                }
                function removeClass() {
                    for (var i = 0; i < items.length; i++) {
                        items[i].className = "indexCaseItem";
                    }
                }
            }





