doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport")
        meta(name="applicable-device" content="pc,mobile")
        title= title
        link(rel="icon",type="image/x-icon",href="/statics/image/favicon.ico")
        link(rel="shortcut icon",type="image/x-icon",href="/statics/image/favicon.ico")
        link(rel="stylesheet",type="text/css",href="/statics/icomoon/base.css")
        link(rel="stylesheet",type="text/css",href="/statics/icomoon/style.css")
        script(type="text/javascript", src="/statics/js/jquery.js")
        script(type="text/javascript", src="/statics/js/base.js")
        script(type="text/javascript", src="/statics/js/jquery.cookie.js")
        script(type="text/javascript", src="/statics/js/variable.js")
        block link
    body
    block content
