extends layout
block link
  link(rel="stylesheet", type="text/css", href="/statics/css/login.css")
  script(type="text/javascript", src="/statics/js/login.js")
block content
        .entryBox
            .entryHd
                div.w1200
                    div.indexLogo.left
                        a(href="/")
                            img(src="/statics/image/logo.png")
                    div.indexLogin.right
                        div.userBefore
                            a.icon-username(href="/signUp") 注册
                            = "|"
                            a.icon-username1(href="/login") 登录
            .entryBd
                .entryModel
                    .entryModelBg
                        img(src="/statics/image/login_bg.jpg")
                        p Make it simple<br />make it fast
                    .entryFrom
                        .title 用户登录
                        .entryItemBox
                            .entryItem
                                .entryInputBox.icon-username
                                    input.entryInput#userName(type = "text",placeholder = "用户名或邮箱" autocomplete="off")
                                .entryTip
                                    p#userTip 用户名错误
                            .entryItem
                                .entryInputBox.icon-mima
                                    input.entryInput#password(type = "password",placeholder = "请输入密码" autocomplete="off")
                                .entryTip
                                    p#passwordTip 密码错误
                            .entryBtnBox
                                button.btn.btn-primary.entryBtn#login
                                  span 登录
                            .entryFromFt
                               a(href = "/signUp") 立即注册
                               a(href = "/") 回首页
                               a(href = "/forgetPw") 忘记密码?
        .entryBg
