/*.indexContainer{
  min-width:1200px;
}*/
/*手机端导航隐藏*/
.indexNav_m{
  display:none;
}
.indexContainer .w1200 {
  max-width: 1200px;
  margin: 0 auto;
  padding:0 10px;
}
.indexContainer .headerCenter {
  font-size: 30px;
  height: 87px;
  text-align: center;
  color: #333;
  line-height: 112px;
  font-weight: normal;
}
.indexContainer a.btn {
  display: inline-block;
  width: 150px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #259ee3;
  border-radius: 3px;
  color: #fff;
  background: #259ee3;
  outline: none;
  transition: all ease .3s;
  padding: 0;
  line-height: 38px;
}
.indexContainer a.btn:hover{
  opacity: .8;
}
.indexUser {
  background: #fff;
  height: 70px;
}
.indexUser .indexLogo {
  float: left;
  width: 165px;
  padding-top: 18px;
}
.indexUser .indexLogo img {
  width: 165px;
  height: 31px;
}
.indexNav li {
  float: left;
}
.indexNav li a {
  margin-top:7px;
  line-height: 62px;
  border-bottom: 3px solid #fff;
  display: inline-block;
  padding: 0 30px;
  color: #333;
  font-size: 16px;
  position: relative;
}
.indexNav li a:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -2px;
  border-bottom: 3px dashed;
  border-bottom: 3px solid \9;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  color: #259ee3;
  display: none;
}
.indexNav li:hover a {
  color: #259ee3;
  border-bottom: 3px solid #259ee3;
}
.indexNav li:hover a:before {
  display: inline-block;
}
.indexLogin{
  position: relative;
}
.userBefore {
  line-height: 72px;
  color: #828181;
  margin-left: 65px;
}
.userBefore a {
  font-size: 14px;
  color: #828181;
  margin-left: 10px;
}
.userBefore a:first-child {
  margin-right: 10px;
  margin-left: 0;
}
.userBefore .icon-username:before ,.userAfter>a:before{
  margin-right: 8px;
}
.noMargin{
  margin:0 !important;
}
.userAfter{
  /*display:none;*/
  position: relative;
  height:70px;
  min-width:100px;
  text-align: center;
}
.userAfter>a{
  line-height:70px;
  position: relative;
  display:inline-block;
  color:#686868;
}
.userAfter:hover .userDown{
  display:inline-block;
}
.userDown{
  top:70px;
  left:0;
  position: absolute;
  border:1px solid #eee;
  padding:10px;
  background:#fff;
  z-index:2;
  width:100%;
  display:none;
}
.userDown a{
  color:#999;
  font-size:13px;
}
/*手机端banner隐藏*/
.indexBanner_m{
  display:none;
}
.indexBanner {
  display:block;
  height: 600px;
  background:#111d36 url(../image/banner_bg.jpg) center center no-repeat;
  width:100%;
  overflow:hidden;
}
.indexBanner .btnBox{
  margin:421px 0 0 635px;
}
.indexBanner a.btn{
  border:1px solid #fff;
  color:#fff;
  background:transparent;
}
.indexBanner a.btn:last-child{
  margin-left:75px;
}
.indexBanner .w1200{
  background: url(../image/banner_img.jpg) no-repeat;
  height:100%;
  position:relative;
  overflow: hidden;
}
.indexSuperiority {
  background: #f7fbfe;
  height: 600px;
}
.indexSuperiority .indexItemBd {
  position: relative;
  margin: 67px auto 0 auto;
  width: 456px;
  height: 370px;
}
.indexSuperiority .indexItemBd img{
  position: absolute;
  left:50%;
  top:50%;
  margin-top:-51px;
  margin-left:-73px;
}
.indexSuperiority .indexSuperiorityItem {
  width: 368px;
  position: absolute;
  cursor: default;
  transition:all ease .3s 0s;
}
.indexSuperiority .indexSuperiorityItem:before{
  position: absolute;
  font-size:37px;
  width:40px;
  height:40px;
  overflow: hidden;
  color:#666;
  transition:all ease .3s 0s;
}
.indexSuperiority .indexSuperiorityItem:after{
  position: absolute;
  display:inline-block;
  content:"";
  height:85px;
  width:1px;
  border-left:1px dashed #686868;
  transition:all ease .3s 0s;
}
.indexSuperiority .indexSuperiorityItem:hover h3{
  color:#34d3c2;
}
.indexSuperiority .indexSuperiorityItem:hover p{
  color:#34d3c2;
}
.indexSuperiority .indexSuperiorityItem:hover:before{
  color:#34d3c2;
}
.indexSuperiority .indexSuperiorityItem:hover:after{
  border-color:#34d3c2;
}
.indexSuperiority .indexSuperiorityItem h3 {
  font-size: 20px;
  color: #333;
  transition:all ease .3s 0s;
}
.indexSuperiority .indexSuperiorityItem p {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
  line-height:17px;
  transition:all ease .3s 0s;
}
.indexSuperiority .indexSuperiorityItem1 {
  width: 288px;
  text-align: center;
  left: 50%;
  margin-left: -144px;
  top: -60px;
}
.indexSuperiority .indexSuperiorityItem1:before{
  left:50%;
  margin-left:-20px;
  bottom:-47px;
}
.indexSuperiority .indexSuperiorityItem1:after{
  left:50%;
  top:90px;
}
.indexSuperiority .indexSuperiorityItem2 {
  left: 430px;
  top: 38px;
}
.indexSuperiority .indexSuperiorityItem2:before{
  left:-45px;
  bottom:5px;
}
.indexSuperiority .indexSuperiorityItem2:after{
  left:-49px;
  transform:rotate(45deg);
  transform-origin:0 0;
}
.indexSuperiority .indexSuperiorityItem3 {
  top: 170px;
  left: 460px;
}
.indexSuperiority .indexSuperiorityItem3:before{
  left: -45px;
  top:3px;
}
.indexSuperiority .indexSuperiorityItem3:after{
  left: -52px;
  transform: rotate(90deg);
  transform-origin: 0 0;
  top: 23px;
}
.indexSuperiority .indexSuperiorityItem4 {
  left: 430px;
  top: 300px;
}
.indexSuperiority .indexSuperiorityItem4:before{
  left: -45px;
  top: 1px;
}
.indexSuperiority .indexSuperiorityItem4:after{
  left: -49px;
  transform: rotate(123deg);
  transform-origin: 0 0;
  top: 1px;
}
.indexSuperiority .indexSuperiorityItem5 {
  width: 288px;
  bottom: -60px;
  left: 50%;
  margin-left: -144px;
  text-align: center;
}
.indexSuperiority .indexSuperiorityItem5:before{
  left:50%;
  margin-left:-20px;
  top:-40px;
}
.indexSuperiority .indexSuperiorityItem5:after{
  left:50%;
  bottom:90px;
}
.indexSuperiority .indexSuperiorityItem6 {
  right: 450px;
  top: 290px;
  text-align: right;
}
.indexSuperiority .indexSuperiorityItem6:before{
  right: -45px;
  top: -3px;
}
.indexSuperiority .indexSuperiorityItem6:after{
  right: -57px;
  transform: rotate(-125deg);
  transform-origin: 100% 0;
  top: 0;
}
.indexSuperiority .indexSuperiorityItem7 {
  top: 177px;
  right: 480px;
  text-align: right;
}
.indexSuperiority .indexSuperiorityItem7:before{
  right: -45px;
  top:-1px;
}
.indexSuperiority .indexSuperiorityItem7:after{
  right: -55px;
  transform: rotate(-94deg);
  transform-origin: 0 0;
  top: 22px;
  height:110px;
}
.indexSuperiority .indexSuperiorityItem8 {
  right: 453px;
  top: 20px;
  text-align: right;
}
.indexSuperiority .indexSuperiorityItem8:before{
  right: -45px;
  top: 0px;
}
.indexSuperiority .indexSuperiorityItem8:after{
  right: -57px;
  transform: rotate(-50deg);
  transform-origin: 0 0;
  top: 37px;
  height:120px;
}
.indexService {
  height: 600px;
  background: #fff;
  background: url(../image/indexServiceBg.png) center bottom no-repeat;
}
.indexService .isItem {
  height: 198px;
  padding-left: 218px;
  position: relative;
}
.indexService .isItemIcon{
  position: absolute;
  width:179px;
  height:198px;
  left:0;top:-30px;
  background: url(../image/indexServiceLeft.jpg) no-repeat;
  transition:all ease-in-out .5s 0s;
}
.indexService .isItemIcon:hover{
  transform: scale(1.1) translateY(-10px);
}
.indexService .isItem h2 {
  font-size: 22px;
  color: #333;
  padding-left: 20px;
  margin: 25px 0 20px;
}
.indexService .isItem p {
  font-size: 14px;
  color: #333;
  line-height: 30px;
}
.indexService .isItem:last-child {
  padding-left: 0;
  padding-right: 218px;
}
.indexService .isItem:last-child .isItemIcon{
  left:auto;
  right:0;
  top:-30px;
  background: url(../image/indexServiceRight.jpg) no-repeat;
}
.indexService .isItem:last-child h2 {
  text-align: right;
  padding-right: 20px;
}
.indexCase {
  background: #259ee3;
  height: 600px;
  overflow: hidden;
  display:none;
}
.indexCase .w1200{
  background: url(../image/indexCaseBg.png) 727px 56px  no-repeat;
}
.indexCase .headerCenter {
  color: #fff;
}
.indexCase .hd h3 {
  font-size: 22px;
  color: #fff;
  margin: 36px 0 26px;
}
.indexCase .hd p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
.indexCase .bd {
  margin-top: 22px;
  text-align: center;
}
.indexCase .indexCaseItem {
  padding: 156px 20px 0 20px;
  position: relative;
  display: inline-block;
  width: 350px;
  height: 360px;
  border-radius: 3px;
  background: #f4fafe;
  color: #999;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  top: 50px;
  transition:top ease .3s 0s;
}
.indexCase .indexCaseItem.active {
  top: 0;
  padding-top: 190px;
  background: #dff1fb;
  color: #333;
}
.indexCase .indexCaseItem:nth-child(2) {
  margin: 0 70px;
}
.indexCaseIcon{
  position: absolute;
  left:50%;
}
.indexCaseIcon1{
  width:94px;
  height:76px;
  top:67px;
  margin-left:-47px;
  background:url(../image/indexCaseItem1.png) no-repeat;
}
.indexCaseItem.active .indexCaseIcon1{
  background:url(../image/indexCaseItem1Active.png) no-repeat;
}
.indexCaseItem.active .indexCaseIcon2{
  background:url(../image/indexCaseItem2Active.png) no-repeat;
}
.indexCaseItem.active .indexCaseIcon3{
  background:url(../image/indexCaseItem3Active.png) no-repeat;
}
.indexCaseIcon2{
  width:94px;
  height:66px;
  top:60px;
  margin-left:-47px;
  background:url(../image/indexCaseItem2.png) no-repeat;
}
.indexCaseIcon3{
  width:76px;
  height:78px;
  top:50px;
  margin-left:-38px;
  background:url(../image/indexCaseItem3.png) no-repeat;
}
.indexAbout {
  height: 470px;
  background: #fff url(../image/indexAboutBg.png) center bottom no-repeat;
}
.indexAbout .indexAboutItem {
  margin-top: 35px;
}
.indexAbout .indexAboutItem p {
  color: #333;
  line-height: 24px;
  font-size: 14px;
}
.indexAbout .indexAboutItem .btnBox {
  text-align: center;
  margin-top: 99px;
}
.indexAbout .indexAboutItem a.btn:last-child {
  background: transparent;
  color: #259ee3;
  margin-left: 90px;
}
.indexFooter {
  height: 150px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  background: rgba(75, 81, 96, 0.9) url(../image/indexCopyRightBg.png) center top no-repeat;
  overflow: hidden;
}
.indexFooter p:first-child {
  margin: 60px 0 20px;
}
/*手机端样式*/
@media screen and (min-width: 320px)and (max-width:640px){
  *,*:before,*:after{-webkit-box-sizing:border-box;box-sizing:border-box;}
  html{-webkit-text-size-adjust:none; font-size:100px;}
  /*两端对齐*/
  .align_ustify{ display:inline-block;text-align: justify; text-justify:distribute-all-lines; text-align-last:justify; text-indent:0.1rem;}
  /*内容开始*/
  .indexContainer{
    width:100%;
  }
  .indexUser{
    width:100%;
    height: 0.7rem;
    line-height: 0.7rem;
    padding:0 0.1rem;
    overflow: hidden;
  }
  .indexContainer .w1200 {
    width: 100%;
    padding:0;
  }
  .indexUser .indexLogo {
    width: 1.65rem;
    padding-top:0;
    height:0.31rem
  }
  .indexUser .indexLogo img {
    width: 1.65rem;
    height: 0.31rem;
  }
  .userBefore {
    line-height: 0.56rem;
  }
  /*导航*/
  .indexContainer .w1200 .indexNav{
    display:none;
  }
  .indexNav_m{
    display:block;
    width:100%;
    height:31px;
  }
  .indexNav_m li {
    float: left;
    width:20%
  }
  .indexNav_m li a {
    width:100%;
    text-align: center;
    line-height: 31px;
    border-bottom: 3px solid #fff;
    display:block;
    color: #333;
    font-size: 14px;
    position: relative;
  }
  .indexNav_m li a:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -2px;
    border-bottom: 3px dashed;
    border-bottom: 3px solid \9;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    color: #259ee3;
    display: none;
  }
  .indexNav_m li.current a {
    color: #259ee3;
    border-bottom: 3px solid #259ee3;
  }
  .indexNav_m li.current a:before {
    display: block;
  }
  /*banner*/
  .indexBanner{
    display:none;
  }
  .indexBanner_m{
    display:block;
    width:100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  .indexBanner_m .bannerswiper{
    overflow: hidden;
    position: relative;
  }
  .indexBanner_m .bannerswiper img{
    width: 100%;
    height: auto;
    display: block;
  }
  /*BoxLinker优势*/
  .indexSuperiority {
    width:100%;
    overflow: hidden;
    height:370px;
  }
  .indexContainer .headerCenter {
    font-size: 0.2rem;
    height: 0.44rem;
    line-height: 0.44rem;
  }
  .indexSuperiority .indexItemBd {
    margin:0 auto;
    width: 320px;
    height: 320px;
  }
  .indexSuperiority .indexItemBd img{
    left:50%;
    top:50%;
    width:73px;
    height:51px;
    margin-top:-26px;
    margin-left:-37px;
  }
  .indexSuperiority .indexSuperiorityItem:before{
    font-size:28px;
  }
  .indexSuperiority .indexSuperiorityItem:after{
    height:30px;
  }
  .indexSuperiority .indexSuperiorityItem h3 {
    font-size: 12px;
  }
  .indexSuperiority .indexSuperiorityItem p {
    display: none;
  }
  .indexSuperiority .indexSuperiorityItem1 {
    width: 144px;
    margin-left: -72px;
    top: 14px;
  }
  .indexSuperiority .indexSuperiorityItem1:before{
    bottom:-52px;
  }
  .indexSuperiority .indexSuperiorityItem1:after{
    top:65px;
  }
  .indexSuperiority .indexSuperiorityItem2 {
    left: 258px;
    top: 83px;
  }
  .indexSuperiority .indexSuperiorityItem2:before{
    left:-36px;
    bottom:-16px;
  }
  .indexSuperiority .indexSuperiorityItem3 {
    top: 145px;
    left: 264px;
  }
  .indexSuperiority .indexSuperiorityItem3:before{
    left: -34px;
    top:0;
  }
  .indexSuperiority .indexSuperiorityItem3:after{
    left: -40px;
    top: 13px;
  }
  .indexSuperiority .indexSuperiorityItem4 {
    left: 261px;
    top: 222px;
  }
  .indexSuperiority .indexSuperiorityItem5 {
    width: 144px;
    bottom: 15px;
    margin-left: -72px;
  }
  .indexSuperiority .indexSuperiorityItem5:before{
    top:-36px;
  }
  .indexSuperiority .indexSuperiorityItem5:after{
    bottom:59px;
  }
  .indexSuperiority .indexSuperiorityItem6 {
    right: 244px;
    top: 232px;
  }
  .indexSuperiority .indexSuperiorityItem6:before{
    right: -35px;
    top: -11px;
  }
  .indexSuperiority .indexSuperiorityItem6:after{
    right: -34px;
    top: -7px;
  }
  .indexSuperiority .indexSuperiorityItem7 {
    top: 148px;
    right: 233px;
  }
  .indexSuperiority .indexSuperiorityItem7:before{
    right: -30px;
  }
  .indexSuperiority .indexSuperiorityItem7:after{
    right: -31px;
    top: 14px;
    height:3px;
  }
  .indexSuperiority .indexSuperiorityItem8 {
    right: 264px;
    top: 62px;
  }
  .indexSuperiority .indexSuperiorityItem8:after{
    height:30px;
  }
  /*boxlinker服务*/
  .indexService {
    height: 5.2rem;
    padding:0 0.1rem;
  }
  .indexService .isItem {
    height: 2rem;
    padding-left: 1rem;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
  }
  .indexService .isItemIcon{
    width:0.9rem;
    height:0.99rem;
    left:0;
    top:0.2rem;
    background-size: 0.9rem 0.99rem;
  }
  .indexService .isItem h2 {
    font-size: 0.16rem;
    margin: 15px 0 10px;
  }
  .indexService .isItem p {
    font-size: 0.12rem;
    line-height: 0.24rem;
  }
  .indexService .isItem:last-child {
    padding-right: 1rem;
  }
  .indexService .isItem:last-child .isItemIcon{
    top:0.2rem;
    background-size: 0.9rem 0.99rem;
  }
  /*关于我们*/
  .indexAbout {
    height: 2.5rem;
    margin:0.1rem 0;
    padding:0 0.1rem;
  }
  .indexAbout .indexAboutItem {
    margin-top: 5px;
  }
  .indexAbout .indexAboutItem p {
    line-height: 20px;
    font-size: 12px;
  }
  .indexAbout .indexAboutItem .btnBox {
    display: none;
  }
  .indexFooter {
    height: 1.7rem;
    text-align: center;
    color: #fff;
  }
  .indexFooter p:first-child {
    margin: 10px auto;
  }
  @media screen and (min-width: 414px){
    .indexService .isItem p {
      font-size: 0.16rem;
      line-height: 0.28rem;
    }
  }
}
