.head{
  position: relative;
  padding-top: 30px;
}
.image{
  width: 120px;
  position: absolute;
  text-align: center;
}
.image img{
  width: 66px;
  height: 66px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
}
.right{
  margin: -7px 20px 0 120px;
}
.hd{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 20px;
}
.hdItem{
  display: inline-block;
  position: relative;
  color: #333;
  width: 33%;
  text-align: center;
  padding-left: 10px;
}
.hdItem span{
  margin-left:10px;
}
.hdItem:first-child{
  text-align: left;
}
.hdItem:last-child{
  text-align: right;
}
.hdItem:last-child:after{
  display:none;
}
.hdItem:after{
  display: inline-block;
  content: " ";
  height: 15px;
  width: 1px;
  background: #ced3dd;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 4px;
}
.bd{
  padding: 10px 0 30px;
}
.bdItem{
  padding: 5px 0;
}
.bdItem>span{
  color:#666;
}
.bdItem>span>div{
  top:10px;
}
.bdItem .bdLeft{
  display: inline-block;
  width: 70px;
  text-align: right;
  color: #333;
  margin-right: 10px;
}
.mainItem{
  margin: 35px 25px 0;
  padding-bottom: 35px;
  border-bottom: 1px solid #ececec;
}
.pad25{
  padding:15px 25px;
}
.bj{
  display:inline-block;
}
.bj button{
  font-size: 28px;
  color: #666;
  position: relative;
  top: -18px;
}
.main{
  min-height:400px;
}
.mainItemL .mainItemBd{
  width:66%;
}
.mainItemHd>div{
  display:inline-block;
}
.textareaBox textarea{
  display: inline-block;
  border-radius: 2px;
  font-size: 13px;
}
.btnBox{
  text-align: right;
}
.btnBox button{
  margin-left:20px;
  margin-top:15px;
}
.modal{
  padding: 0 28px 15px;
}
.modalP1{
  margin-bottom: 5px;
  color: #3b3b3b;
}
.modalP2{
  color: #666;
  font-size: 12px;
  padding-left: 21px;
  margin: 5px 0 23px;
}
.midalBtn button:first-child{
  margin-right: 76px;
}
.delBox{
  padding: 46px 0 40px 32px;
}
.delBox button{
  width: 350px;
  box-shadow: none;
  height: 37px;
}
.delBox p{
  font-size: 12px;
  color: #cc0000;
  margin: 13px 6px;
}
@media (max-width: 768px) {
  .right{
    margin:0;
  }
  .mainItem{
    margin-left:15px;
    margin-right:15px;
  }
  .hd{
    padding-left:100px;
  }
  .title{
    padding-left:110px;
  }
  .image{
    width:100px;
  }
  .mainItemL .mainItemBd{
    width:80%;
  }
  .image img{
    width:80px;
    height:80px;
  }
  .hdItem{
    display:block;
    width:100% !important;
    text-align: left !important;
    padding-left:0 !important;
    margin-bottom:5px;
  }
  .hdItem:after{
    display:none;
  }
  .hdItem>span:first-child{
    min-width:60px;
    display:inline-block;
  }
  .hdItem:last-child{
    padding-left:13px !important;
  }
  .hdItem>button{
    font-size:12px;
    padding:5px 10px;
  }
  .bdItem>span:last-child{
    display:inline-block;
    margin-left:10px;
  }
  .delBox button{
    width:320px;
  }
  .pad25{
    padding:25px 0 0;
  }
  .table{
    min-width:620px;
    padding:10px;
  }
}
