{{template "base/head" .}}
<!--main-->
<div class = "git_container">
	<div class = "row">
		<div class = "col-sm-8">
			<div class = "panel">
				<div class = "panel-heading panel-heading-height">
					<a href="javascript:;" class = "panel_more right">查看更多<i>>></i></a>
					<h3 class = "panel-title">我的项目</h3>
				</div>
				<div class = "panel-body clearfix">
					{{range .Repos}}
					<div class = "git_project_sm">
						<a href="{{AppSubUrl}}/{{$.ContextUser.Name}}/{{.Name}}/project">
							<img src="{{AppSubUrl}}/img/project.png" />
							<p>
								<i class="ion-{{if .IsPrivate}}locked{{else}}unlocked{{end}}"></i>
								<span>{{$.ContextUser.Name}} / {{.Name}}</span>
							</p>
						</a>
					</div>
					{{end}}
					{{if not .ContextUser.IsOrganization}}
						{{range .CollaborativeRepos}}
						<div class = "git_project_sm">
							<a href="{{AppSubUrl}}/{{.Owner.Name}}/{{.Name}}/project">
								<img src="{{AppSubUrl}}/img/project.png" />
								<p>
									<i class="ion-{{if .IsPrivate}}locked{{else}}unlocked{{end}}"></i>
									<span>{{.Owner.Name}} / {{.Name}}</span>
								</p>
							</a>
						</div>
						{{end}}
					{{end}}
					<div class = "git_project_sm git_project_add">
						<a href="{{AppSubUrl}}/repo/create">
							<span class="ion-plus-round"> </span>
							<span>添加新项目</span>
						</a>
					</div>
				</div>
			</div>
			<div class = "panel">
				<div class = "panel-heading panel-heading-height">
					<div class = "panel-control right">
						<!--<ul class="nav nav-tabs">-->
							<!--<li role="presentation" class="active"><a href="#dashboard-activity-1" data-toggle="tab">			我的项目</a></li>-->
						<!--</ul>-->
					</div>
					<h3 class = "panel-title">动态</h3>
				</div>
				<div class = "panel-body">
					<div class="tab-content">
						<div class = "tab-pane active" id = "dashboard-activity-1">
							{{template "user/dashboard/feeds" .}}
							{{if .AfterID}}
							<div class="text-center">
									<a class = "load-ajax-more" href = "javascript:;" data-url="{{.Link}}?after_id={{.AfterID}}">加载更多<i class="ion-more"></i></a>
							</div>
							{{end}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class = "col-sm-4">
			<div class = "panel">
				<div class = "panel-heading panel-heading-height">
					<a href="javascript:;" class = "panel_more right">查看更多<i>>></i></a>
					<h3 class = "panel-title">我的任务</h3>
				</div>
				<div class = "panel-body">
					<ul class = "git_task_list">
						{{$IssueImportanceState := .IssueImportanceState}}
						{{range .OpenIssue}}
							{{$CreateTime := TimeSince .Created $.Lang}}
							<li>
								<div class = "git_task_hd">
									<span class = "add-tooltip git_task_jj git_task_{{.Importance}}" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="{{index $.IssueImportanceState .Importance}}">
										<i class = "ion-alert"></i>
										<i class = "ion-alert"></i>
										<i class = "ion-alert"></i>
									</span>
									<a href="{{AppSubUrl}}/{{$.ContextUser.Name}}/{{.RepoName}}/issues/{{.Index}}" class = "git_task_title btn-link">{{.Title}}</a>
								</div>
								<div class = "git_task_bd clearfix">
									<a href = "{{AppSubUrl}}/{{$.ContextUser.Name}}/{{.RepoName}}" class = "btn-link">#{{$.ContextUser.Name}}/{{.RepoName}}</a>
									<a href="{{AppSubUrl}}/{{.Poster.Name}}" class = "btn-link">{{.Poster.Name}}</a>
									<span>创建于 {{$CreateTime}}</span>
									{{if .NumComments}}
										<i class = "git_task_talk ion-chatbubble right">&nbsp;{{.NumComments}}&nbsp;条评论</i>
									{{end}}
								</div>
							</li>
						{{end}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--main end-->










<!--<div class="dashboard feeds">-->
	<!--{{template "user/dashboard/navbar" .}}-->
	<!--<div class="ui container">-->
		<!--<div class="ui grid">-->
			<!--<div class="ten wide column">-->
				<!--{{template "user/dashboard/feeds" .}}-->
				<!--{{if .AfterID}}-->
					<!--<button class="ui fluid basic button center ajax-load-button" data-url="{{.Link}}?after_id={{.AfterID}}">More</button>-->
				<!--{{end}}-->
			<!--</div>-->
			<!--<div class="six wide column">-->
				<!--<div class="ui {{if not .ContextUser.IsOrganization}}three{{else}}two{{end}} item tabable menu">-->
					<!--<a class="item active" data-tab="repos">{{.i18n.Tr "repository"}}</a>-->
					<!--{{if not .ContextUser.IsOrganization}}-->
						<!--<a class="item" data-tab="orgs">{{.i18n.Tr "organization"}}</a>-->
					<!--{{end}}-->
					<!--<a class="item" data-tab="mirrors">{{.i18n.Tr "mirror"}}</a>-->
				<!--</div>-->
				<!--<div class="ui tab active list" data-tab="repos">-->
					<!--<h4 class="ui top attached header">-->
						<!--{{.i18n.Tr "home.my_repos"}} <span class="ui grey label">{{.ContextUser.NumRepos}}</span>-->
						<!--<div class="ui right">-->
							<!--<a class="poping up" href="{{AppSubUrl}}/repo/create{{if .ContextUser.IsOrganization}}?org={{.ContextUser.ID}}{{end}}" data-content="{{.i18n.Tr "new_repo"}}" data-variation="tiny inverted" data-position="left center">-->
								<!--<i class="plus icon"></i>-->
								<!--<span class="sr-only">{{.i18n.Tr "new_repo"}}</span>-->
							<!--</a>-->
						<!--</div>-->
					<!--</h4>-->
					<!--<div class="ui attached table segment">-->
						<!--<ul class="repo-owner-name-list">-->
							<!--{{range .Repos}}-->
								<!--<li {{if .IsPrivate}}class="private"{{end}}>-->
									<!--<a href="{{AppSubUrl}}/{{$.ContextUser.Name}}/{{.Name}}">-->
										<!--<i class="octicon octicon-{{if .IsFork}}repo-forked{{else if .IsPrivate}}lock{{else if .IsMirror}}repo-clone{{else}}repo{{end}}"></i>-->
										<!--<strong class="text truncate item-name">{{.Name}}</strong>-->
										<!--<span class="ui right text light grey">-->
											<!--{{.NumStars}} <i class="octicon octicon-star rear"></i>-->
										<!--</span>-->
									<!--</a>-->
								<!--</li>-->
							<!--{{end}}-->
							<!--{{if gt .ContextUser.NumRepos .MaxShowRepoNum}}-->
							<!--<li>-->
								<!--<a href="{{.ContextUser.HomeLink}}">{{.i18n.Tr "home.show_more_repos"}}</a>-->
							<!--</li>-->
							<!--{{end}}-->
						<!--</ul>-->
					<!--</div>-->

					<!--{{if not .ContextUser.IsOrganization}}-->
						<!--<h4 class="ui top attached header">-->
							<!--{{.i18n.Tr "home.collaborative_repos"}}-->
						<!--</h4>-->
						<!--<div class="ui attached table segment">-->
							<!--<ul id="collaborative-repo-list">-->
								<!--{{range .CollaborativeRepos}}-->
									<!--<li {{if .IsPrivate}}class="private"{{end}}>-->
										<!--<a href="{{AppSubUrl}}/{{.Owner.Name}}/{{.Name}}">-->
											<!--<i class="octicon octicon-{{if .IsPrivate}}lock{{else if .IsFork}}repo-forked{{else if .IsMirror}}repo-clone{{else}}repo{{end}}"></i>-->
											<!--<span class="text truncate owner-and-repo">-->
												<!--<span class="text truncate owner-name">{{.Owner.Name}}</span> / <strong>{{.Name}}</strong>-->
											<!--</span>-->
											<!--<span class="ui right text light grey">-->
												<!--{{.NumStars}} <i class="octicon octicon-star rear"></i>-->
											<!--</span>-->
										<!--</a>-->
									<!--</li>-->
								<!--{{end}}-->
							<!--</ul>-->
						<!--</div>-->
					<!--{{end}}-->
				<!--</div>-->

				<!--{{if not .ContextUser.IsOrganization}}-->
					<!--<div class="ui tab list" data-tab="orgs">-->
						<!--<h4 class="ui top attached header">-->
							<!--{{.i18n.Tr "home.my_orgs"}} <span class="ui grey label">{{.ContextUser.GetOrganizationCount}}</span>-->
							<!--<div class="ui right">-->
								<!--<a class="poping up" href="{{AppSubUrl}}/org/create" data-content="{{.i18n.Tr "new_org"}}" data-variation="tiny inverted" data-position="left center">-->
									<!--<i class="plus icon"></i>-->
									<!--<span class="sr-only">{{.i18n.Tr "new_org"}}</span>-->
								<!--</a>-->
							<!--</div>-->
						<!--</h4>-->
						<!--<div class="ui attached table segment">-->
							<!--<ul class="repo-owner-name-list">-->
								<!--{{range .ContextUser.Orgs}}-->
									<!--<li>-->
										<!--<a href="{{AppSubUrl}}/{{.Name}}">-->
											<!--<i class="octicon octicon-organization"></i>-->
											<!--<strong class="text truncate item-name">{{.Name}}</strong>-->
											<!--<span class="ui right text light grey">-->
												<!--{{.NumRepos}} <i class="octicon octicon-repo rear"></i>-->
											<!--</span>-->
										<!--</a>-->
									<!--</li>-->
								<!--{{end}}-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
				<!--{{end}}-->

				<!--<div class="ui tab list" data-tab="mirrors">-->
					<!--<h4 class="ui top attached header">-->
						<!--{{.i18n.Tr "home.my_mirrors"}} <span class="ui grey label">{{.MirrorCount}}</span>-->
						<!--<div class="ui right">-->
							<!--<a class="poping up" href="{{AppSubUrl}}/repo/migrate?mirror=1" data-content="{{.i18n.Tr "new_mirror"}}" data-variation="tiny inverted" data-position="left center">-->
								<!--<i class="plus icon"></i>-->
								<!--<span class="sr-only">{{.i18n.Tr "new_mirror"}}</span>-->
							<!--</a>-->
						<!--</div>-->
					<!--</h4>-->
					<!--<div class="ui attached table segment">-->
						<!--<ul class="repo-owner-name-list">-->
							<!--{{range .Mirrors}}-->
								<!--<li {{if .IsPrivate}}class="private"{{end}}>-->
									<!--<a href="{{AppSubUrl}}/{{$.ContextUser.Name}}/{{.Name}}">-->
										<!--<i class="octicon octicon-repo-clone"></i>-->
										<!--<strong class="text truncate item-name">{{.Name}}</strong>-->
										<!--<span class="ui right text light grey">-->
											<!--{{.Interval}}H <i class="octicon octicon-sync rear"></i>-->
										<!--</span>-->
									<!--</a>-->
								<!--</li>-->
							<!--{{end}}-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
{{template "base/footer" .}}
