@media (max-width: 768px) {
  .table {
    width:650px;
    padding:10px;
  }
}
@media (max-width: 340px) {
  .search div input{
    width:165px !important;
  }
}
.titleSpan{
  font-size: 20px;
  color: #333;
}
#rightTop{
  margin-top: 0;
}
.danngerB{
  color: #ff0000;
}
