.item{
  margin: 35px 25px 0;
  padding-bottom: 35px;
  border-bottom: 1px solid #ececec;
}
.bd{
  margin-top:25px;
  padding-left:17px;
}
.bd>input,.bd>select,.bd>textarea{
  display: inline-block;
  width: 66%;
  border-radius: 2px;
  font-size: 13px;
}
.range>div{
  cursor: pointer;
  position: relative;
  width: 66%;
  height: 20px;
}
.tip{
  font-size:12px;
  color: #a94442;
  display: block;
  margin:5px 0 -5px;
}
.fixed{
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 6;
  padding: 0;
  margin: 0 15px;
}
.fixed a,.fixed button{
  margin-right:10px;
}
.fixed>div{
  background: #fff;
  padding: 25px 0 25px 25px;
  margin-left: 210px;
  border: 1px solid #eee;
  transition:all ease .35s 0s;
}
.fixed p{
  display:inline-block;
  margin-left:20px;
}
.fixed p span{
  font-size:20px;
  color:#2dafdf;
  margin:0 8px;
}
@media (max-width: 768px) {
  .fixed{
    margin:0;
  }
  .fixed>div{
    margin-left:0 !important;
    padding:10px 0 10px 38px;
  }
  .item{
    margin:35px 15px 0;
  }
  .bd>input,.bd>select,.bd textarea{
    width:80%;
  }
  .tip{
    margin-left:0;
    margin-top:5px;
  }
}
