.slSearch{
  margin:8px 0 0 0;
}
.mirrorIcon{
  display:inline-block;
  width:40px;
  height: 40px;
  background-position:-1px -172px;
  vertical-align: middle;
}
.mirrorName{
  display:inline-block;
  color:#2dafdf;
  vertical-align: middle;
  margin-left:10px;
}
.slBd table input[type="checkbox"]{
  top:50%;
  margin-top:-2px;
}
.mirrorState{
  padding-left:15px;
  display:inline-block;
  position: relative;
}
.mirrorState.on{
  color:#6aad00;
}
.mirrorState:after{
  content: '';
  display:inline-block;
  width:6px;
  height:6px;
  background:#6aad00;
  position: absolute;
  top:7px;
  left:5px;
  border-radius:50%;
}
.mirrorState.off{
  color:#cc0000;
}
.mirrorState.off:after{
  width:9px;
  height:3px;
  background-size:9px 3px;
  top:9px;
  left:3px;
  background:#cc0000;
  border-radius:0;
}




























