.root{
  z-index: 7;
  padding-top: 0;
  top: 40px;
  transition: all ease .5s;
  position: fixed;
  width: 180px;
  bottom:0;
  background: #263238;
}
.listPack{
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.listPack a{
  display: block;
  color: #eee;
  padding: 12px 20px;
  width: 175px;
}
.menuList>li>div{
  margin-left:20px;
}
.menuTitle{
  display: inline-block;
  min-width: 80px;
  vertical-align: middle;
}
.thinItemTip{
  position: fixed;
  height: 35px;
  float: left;
  background: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  display: none;
  line-height: 35px;
  padding: 0 15px;
  border-radius: 3px;
  left: 60px;
  margin-top: -7px;
  color: #fff;
}
.subListAction>a{
  color: #09c8f4 !important;
}
.root ul>li:hover{
  color:#09c8f4;
}
.root ul>li a :hover{
  color:#09c8f4;
}
.root ul>li a :hover i{
  color:#09c8f4;
}
.navSecond:hover i{
  color:#09c8f4;
}
.navSecond:hover .menuTitle{
  color:#09c8f4;
}
.thinItemTip:before{
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid rgba(0, 0, 0, 0.9);
  left: -5px;
  top: 12px;
  transform: rotate(45deg);
}


