{{template "base/head" .}}

<!--main-->
<div class = "git_container">
	{{template "repo/header" .}}
	<div class = "git_project tab-base">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="{{.RepoLink}}/project" >概览</a></li>
			<li role="presentation" class="active"><a href="{{.RepoLink}}">代码</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/milestones" >里程碑</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/issues" >任务</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/labels" >标签</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/settings" >设置</a></li>
		</ul>
		<div class = "tab-content repository file list">
			<div class = "row">
				<div class = "col-sm-8">

				</div>
			</div>
			<div class = "list-group mar-top">
				<div class = "list-header">快速帮助</div>
					<div class = "list-group-item">
						<h5>
							克隆当前仓库
							<small>不知道如何操作？访问 <a href = "javascript:;" class = "btn-link">此处</a> 查看帮助！</small>
						</h5>
						<div class="input-group mar-top">
							<div class="input-group-btn">
								{{if not $.DisableHTTP}}
								<button class = "btn btn-default btn-primary btn-sm"
												id = "httpUrl"
												data-link="{{.CloneLink.HTTPS}}"
												style = "height:31px"
								>{{if UseHTTPS}}HTTPS{{else}}HTTP{{end}}</button>
								{{end}}
								{{if not $.DisableSSH}}
								<button class = "btn btn-default btn-sm"
												id = "sshUrl"
												data-link="{{.CloneLink.SSH}}"
												style = "height:31px"
								>SSH</button>
								{{end}}
							</div>
							<input style="height:31px" type="text" id = "url" value = "{{if not $.DisableHTTP}}{{$.CloneLink.HTTPS}}{{else}}{{$.CloneLink.SSH}}{{end}}" class="form-control" readonly />
							<div class="input-group-btn">
								<button class="btn btn-default btn-sm clipboard add-tooltip" data-toggle="tooltip" data-container="body" data-placement="top" title="点击复制" data-success="复制成功" type="button"><i class = "octicon octicon-clippy"></i></button>
							</div>
						</div>
					</div>
					{{if .IsRepositoryAdmin}}
						<div class = "list-group-item">
							<div class = "row">
								<div class = "col-sm-12">
									<div class="item">
										<h4 class = "h4">{{.i18n.Tr "repo.create_new_repo_command"}}</h4>
										<div class="markdown">
												<pre>
<code>touch README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin <span class="clone-url">{{if $.DisableSSH}}{{$.CloneLink.HTTPS}}{{else}}{{$.CloneLink.SSH}}{{end}}</span>
git push -u origin master</code>
												</pre>
										</div>
									</div>
								</div>
							</div>
							<div class = "row mar-top">
								<div class = "col-sm-12">
									<div class="item">
										<h4 class = "h4">{{.i18n.Tr "repo.push_exist_repo"}}</h4>
										<div class="markdown">
												<pre>
<code>git remote add origin <span class="clone-url">{{if $.DisableSSH}}{{$.CloneLink.HTTPS}}{{else}}{{$.CloneLink.SSH}}{{end}}</span>
git push -u origin master</code></pre>
										</div>
									</div>
								</div>
							</div>
						</div>
					{{else}}
						<div class = "list-group-item">
							<div class="ui segment center">
								{{.i18n.Tr "repo.bare_message"}}
							</div>
						</div>
					{{end}}
			</div>
		</div>
	</div>
</div>
<!--main end-->
{{template "base/footer" .}}
