<div class = "row">
	<div class = "panel mar-top">
		<div class = "panel-heading panel-heading-height">
			<div class = "panel-title">
				{{if .PageIsCommits}}
				提交历史
				{{else}}
				{{.CommitsCount}} {{.i18n.Tr "repo.commits.commits"}}
				{{end}}
				{{if .PageIsCommits}}
				<div class="ui right">
					<form action="{{.RepoLink}}/commits/{{.BranchName}}/search">
						<div class="ui tiny search input">
							<input name="q" placeholder="搜索提交历史" value="{{.Keyword}}" class = "form-control input-sm" autofocus>
						</div>
						<button class="btn btn-primary btn-sm" data-panel="#add-deploy-key-panel">查找</button>
					</form>
				</div>
				{{else if .IsDiffCompare}}
				<a href="{{$.CommitRepoLink}}/commit/{{.BeforeCommitID}}" class="ui green sha label">{{ShortSha .BeforeCommitID}}</a> ... <a href="{{$.CommitRepoLink}}/commit/{{.AfterCommitID}}" class="ui green sha label">{{ShortSha .AfterCommitID}}</a>
				{{end}}

			</div>
		</div>
		{{if .Commits}}
		<div class = "panel-body">
			<div class = "list-group">
				<div class = "list-header">
					<div class = "row">
						<div class = "col-sm-3">提交者</div>
						<div class = "col-sm-1">SHA1</div>
						<div class = "col-sm-4">备注</div>
						<div class = "col-sm-4">提交时间</div>
					</div>
				</div>
				{{ $r:= List .Commits}}
				{{range $r}}
				<div class = "list-group-item">
					<div class = "row">
						<div class="col-sm-3">
							{{if .User}}
							<img class="ui avatar image" src="{{.User.RelAvatarLink}}" alt=""/>&nbsp;&nbsp;<a href="{{AppSubUrl}}/{{.User.Name}}">{{.Author.Name}}</a>
							{{else}}
							<img class="ui avatar image" src="{{AvatarLink .Author.Email}}" alt=""/>&nbsp;&nbsp;{{.Author.Name}}
							{{end}}
						</div>
						<div class = "col-sm-1">
							{{if not (and $.Username $.Reponame)}}
							<span class="ui sha label">{{ShortSha .ID.String}}</span>
							{{else}}
							<a rel="nofollow" class="ui sha label" href="{{AppSubUrl}}/{{$.Username}}/{{$.Reponame}}/commit/{{.ID}}">{{ShortSha .ID.String}}</a>
							{{end}}
						</div>
						<div class="col-sm-4">
							<span {{if gt .ParentCount 1}}class="grey text"{{end}}>{{RenderCommitMessage false .Summary $.RepoLink $.Repository.ComposeMetas}}</span>
						</div>
						<div class = "col-sm-4">
						{{TimeSince .Author.When $.Lang}}
					</div>
					</div>
				</div>
				{{end}}
			</div>
		</div>
		{{end}}
		{{if or .HasPrevious .HasNext}}
			<br>
			<div class="center">
				<a class="ui small button {{if not .HasPrevious}}disabled{{end}}" {{if .HasPrevious}}href="{{$.RepoLink}}/commits/{{$.BranchName}}{{if $.FileName}}/{{$.FileName}}{{end}}?page={{.PreviousPage}}&pageSize={{.PageSize}}"{{end}}>
					{{$.i18n.Tr "repo.commits.newer"}}
				</a>
				<a class="ui small button {{if not .HasNext}}disabled{{end}}" {{if .HasNext}}href="{{$.RepoLink}}/commits/{{$.BranchName}}{{if $.FileName}}/{{$.FileName}}{{end}}?page={{.NextPage}}&pageSize={{.PageSize}}"{{end}}>
					{{$.i18n.Tr "repo.commits.older"}}
				</a>
			</div>
		{{end}}
	</div>
</div>


