<div class = "project-breadcrumb">
	{{with .Repository}}
	<ol class="breadcrumb mar-ver">
		<li>
			<a href="{{AppSubUrl}}/{{.Owner.Name}}" class = "btn-link">
				<i class="ion-{{if .IsPrivate}}locked{{else}}unlocked{{end}}"
					 title = "{{if .IsPrivate}}私人的{{else}}公开的{{end}}"></i>
				{{.Owner.Name}}
			</a>
		</li>
		<li><a href="{{$.RepoLink}}" class = "btn-link">{{.Name}}</a></li>
		{{if .IsMirror}}<li><a target="_blank" href="{{$.Mirror.Address}}">{{$.Mirror.Address}}</a></li>{{end}}
		{{if .IsFork}}<li><a href="{{.BaseRepo.Link}}">{{SubStr .BaseRepo.RelLink 1 -1}}</a></li>{{end}}
	</ol>
	{{end}}
</div>


<!--<div class="header-wrapper">-->
<!--{{with .Repository}}-->
	<!--<div class="ui container">&lt;!&ndash; start container &ndash;&gt;-->
		<!--<div class="ui vertically padded grid head">&lt;!&ndash; start grid &ndash;&gt;-->
			<!--<div class="column">&lt;!&ndash; start column &ndash;&gt;-->
				<!--<div class="ui header">-->
					<!--<div class="ui huge breadcrumb">-->
						<!--<i class="mega-octicon octicon-{{if .IsPrivate}}lock{{else if .IsMirror}}repo-clone{{else if .IsFork}}repo-forked{{else}}repo{{end}}"></i>-->
						<!--<a href="{{AppSubUrl}}/{{.Owner.Name}}">{{.Owner.Name}}</a>-->
						<!--<div class="divider"> / </div>-->
						<!--<a href="{{$.RepoLink}}">{{.Name}}</a>-->
						<!--{{if .IsMirror}}<div class="fork-flag">{{$.i18n.Tr "repo.mirror_from"}} <a target="_blank" href="{{$.Mirror.Address}}">{{$.Mirror.Address}}</a></div>{{end}}-->
						<!--{{if .IsFork}}<div class="fork-flag">{{$.i18n.Tr "repo.forked_from"}} <a href="{{.BaseRepo.Link}}">{{SubStr .BaseRepo.RelLink 1 -1}}</a></div>{{end}}-->
					<!--</div>-->

					<!--{{if not $.IsGuest}}-->
						<!--<div class="ui right">-->
							<!--<div class="ui labeled button" tabindex="0">-->
								<!--<a class="ui basic button" href="{{$.RepoLink}}/action/{{if $.IsWatchingRepo}}un{{end}}watch?redirect_to={{$.Link}}">-->
									<!--<i class="icon fa-eye{{if not $.IsWatchingRepo}}-slash{{end}}"></i>{{if $.IsWatchingRepo}}{{$.i18n.Tr "repo.unwatch"}}{{else}}{{$.i18n.Tr "repo.watch"}}{{end}}-->
								<!--</a>-->
								<!--<a class="ui basic label" href="{{.Link}}/watchers">-->
									<!--{{.NumWatches}}-->
								<!--</a>-->
							<!--</div>-->
							<!--<div class="ui labeled button" tabindex="0">-->
								<!--<a class="ui basic button" href="{{$.RepoLink}}/action/{{if $.IsStaringRepo}}un{{end}}star?redirect_to={{$.Link}}">-->
									<!--<i class="icon fa-star{{if not $.IsStaringRepo}}-o{{end}}"></i>{{if $.IsStaringRepo}}{{$.i18n.Tr "repo.unstar"}}{{else}}{{$.i18n.Tr "repo.star"}}{{end}}-->
								<!--</a>-->
								<!--<a class="ui basic label" href="{{.Link}}/stars">-->
									<!--{{.NumStars}}-->
								<!--</a>-->
							<!--</div>-->
							<!--{{if .CanBeForked}}-->
								<!--<div class="ui labeled button" tabindex="0">-->
									<!--<a class="ui basic button {{if eq .OwnerID $.SignedUserID}}poping up{{end}}" href="{{AppSubUrl}}/repo/fork/{{.ID}}">-->
										<!--<i class="octicon octicon-repo-forked"></i>{{$.i18n.Tr "repo.fork"}}-->
									<!--</a>-->
									<!--<a class="ui basic label" href="{{.Link}}/forks">-->
										<!--{{.NumForks}}-->
									<!--</a>-->
								<!--</div>-->
							<!--{{end}}-->
						<!--</div>-->
					<!--{{end}}-->
				<!--</div>-->
			<!--</div>&lt;!&ndash; end column &ndash;&gt;-->
		<!--</div>&lt;!&ndash; end grid &ndash;&gt;-->
	<!--</div>&lt;!&ndash; end container &ndash;&gt;-->
<!--{{end}}-->
<!--{{if not .IsDiffCompare}}-->
	<!--<div class="ui tabs container">-->
		<!--<div class="ui tabular menu navbar">-->
			<!--{{if not $.IsGuest}}-->
				<!--<a class="{{if .PageIsViewFiles}}active{{end}} item" href="{{.RepoLink}}">-->
					<!--<i class="octicon octicon-file-text"></i> {{.i18n.Tr "repo.files"}}-->
				<!--</a>-->
			<!--{{end}}-->
			<!--{{if .Repository.EnableIssues}}-->
				<!--<a class="{{if .PageIsIssueList}}active{{end}} item" href="{{.RepoLink}}/issues">-->
					<!--<i class="octicon octicon-issue-opened"></i> {{.i18n.Tr "repo.issues"}} {{if not .Repository.EnableExternalTracker}}<span class="ui {{if not .Repository.NumOpenIssues}}gray{{else}}blue{{end}} small label">{{.Repository.NumOpenIssues}}{{end}}</span>-->
				<!--</a>-->
			<!--{{end}}-->
			<!--{{if and .Repository.AllowsPulls (not .IsGuest)}}-->
				<!--<a class="{{if .PageIsPullList}}active{{end}} item" href="{{.RepoLink}}/pulls">-->
					<!--<i class="octicon octicon-git-pull-request"></i> {{.i18n.Tr "repo.pulls"}} <span class="ui {{if not .Repository.NumOpenPulls}}gray{{else}}blue{{end}} small label">{{.Repository.NumOpenPulls}}</span>-->
				<!--</a>-->
			<!--{{end}}-->
			<!--{{if .Repository.EnableWiki}}-->
				<!--<a class="{{if .PageIsWiki}}active{{end}} item" href="{{.RepoLink}}/wiki">-->
					<!--<i class="octicon octicon-book"></i> {{.i18n.Tr "repo.wiki"}}-->
				<!--</a>-->
			<!--{{end}}-->
			<!--{{if .IsRepositoryAdmin}}-->
				<!--<div class="right menu">-->
					<!--<a class="{{if .PageIsSettings}}active{{end}} item" href="{{.RepoLink}}/settings">-->
						<!--<i class="octicon octicon-tools"></i> {{.i18n.Tr "repo.settings"}}-->
					<!--</a>-->
				<!--</div>-->
			<!--{{end}}-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="ui tabs divider"></div>-->
<!--{{else}}-->
	<!--<div class="ui divider"></div>-->
<!--{{end}}-->
<!--</div>-->
