{{template "base/head" .}}

<!--main-->
<div class = "git_container">
	{{template "repo/header" .}}
	<div class = "git_project tab-base">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="{{.RepoLink}}/project" >概览</a></li>
			<li role="presentation"><a href="{{.RepoLink}}">代码</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/milestones" >里程碑</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/issues" >任务</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/labels" >标签</a></li>
			{{if .IsRepositoryAdmin}}
				<li role="presentation"><a href="{{.RepoLink}}/settings" >设置</a></li>
			{{end}}
		</ul>
		<div class = "tab-content">
			<div class = "row">
				<div class = "col-sm-6">
					<div class = "bord-all">
						<p class = "text-main text-bold">任务完成情况:</p>
						<div class = "progress progress-md mt-10">
							<div class = "progress-bar progress-bar-danger progress-bar-count" role="progressbar"
									 style = "width:{{.OpenIssue}}%"
									 ></div>
							<div class = "progress-bar progress-bar-primary progress-bar-count" role="progressbar"
									 style = "width:{{.CloseIssue}}%"
									 ></div>
							<div class = "progress-bar progress-bar-success progress-bar-count" role="progressbar"
									 style = "width:{{.FixIssue}}%"
							></div>
						</div>
						<div class = "project_index_action">
							<span><i class = "ion-close-circled text-danger"></i>未解决 {{.IssueStats.OpenCount}}个 </span>
							<span class = "ml-10"><i class = "ion-checkmark-circled text-primary"></i>已解决 {{.IssueStats.ClosedCount}}个 </span>
							<span class = "ml-10"><i class = "ion-checkmark-circled text-success"></i>已验收 {{.IssueStats.FixCount}}个 </span>
						</div>
					</div>
				</div>
				<div class = "col-sm-6">
					<div class = "bord-all">
						<p class = "text-main text-bold">里程碑完成情况:</p>
						<div class = "progress progress-md mt-10">
							<div class = "progress-bar progress-bar-success" role="progressbar" style="width: {{.ClosedCountPercent}}%"></div>
						</div>
						<div class = "project_index_action">
							<span><i class = "ion-close-circled text-danger"></i>未完成 {{.OpenCount}}个 </span>
							<span class = "ml-10"><i class = "ion-checkmark-circled text-success"></i>已完成 {{.ClosedCount}}个 </span>
						</div>
					</div>
				</div>
			</div>
			<div class = "row mt-10">
				<div class = "col-sm-6">
					<p class = "text-main text-bold bord-btm">项目基本信息</p>
					<dl class = "dl-horizontal mt-10 project_index_dl">
						<dt>项目参与者 5 人</dt>
						<dd>
							<a href="javascript:;"><img class = "img-circle img-xs" src="" /></a>
							<a href="javascript:;"><img class = "img-circle img-xs" src="" /></a>
							<a href="javascript:;"><img class = "img-circle img-xs" src="" /></a>
							<a href="javascript:;"><img class = "img-circle img-xs" src="" /></a>
							<a href="javascript:;"><img class = "img-circle img-xs" src="" /></a>
						</dd>
						<dt>master 分支提交数</dt>
						<dd>400次</dd>
						<dt>所有分支提交数</dt>
						<dd>1200次</dd>
						<dt>修改文件 40 个</dt>
						<dd><span class = "text-success">+1300行</span></dd>
					</dl>
				</div>
				<div class = "col-sm-6">
					<p class = "text-main text-bold bord-btm">项目提交曲线</p>
				</div>
			</div>
			<div class = "row mt-10">
				<div class = "col-sm-6">
					<p class = "text-main text-bold bord-btm">已解决的任务
						<a href="{{$.RepoLink}}/issues?type=all&sort=&state=closed&labels=0&milestone=0&assignee=0" class = "pull-right panel_more">查看全部<i>>></i></a>
					</p>
					<ul class = "project_index_list">
						{{range .CloseIssues}}
							<li><a href="{{$.RepoLink}}/issues/{{.Index}}" class = "btn-link">
								{{.Title}}
							</a></li>
						{{end}}
					</ul>
				</div>
				<div class = "col-sm-6">
					<p class = "text-main text-bold bord-btm">未解决的任务
						<a href="{{$.RepoLink}}/issues?type=all&sort=&state=open&labels=0&milestone=0&assignee=0" class = "pull-right panel_more">查看全部<i>>></i></a>
					</p>
					<ul class = "project_index_list">
						{{range .OpenIssues}}
						<li><a href="{{$.RepoLink}}/issues/{{.Index}}" class = "btn-link">
							{{.Title}}
						</a></li>
						{{end}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--main end-->
{{template "base/footer" .}}
