{{template "base/alert" .}}
<div class = "panel">
	<div class = "panel-heading panel-heading-height">
		<div class = "panel-control right">
			<a class = "btn btn-primary" href = "{{$.BaseLink}}/settings/hooks/gogs/new">新建web钩子</a>
		</div>
		<h3 class = "panel-title">管理 Web 钩子</h3>
	</div>
	<div class = "panel-body">
		<div> Web 钩子允许您设定在 Gogs 上发生指定事件时对指定 URL 发送 POST 通知。查看 <a href = "https://github.com/gogits/go-gogs-client/wiki/Repositories-Webhooks" class = "btn-link">Webhooks 文档 获取更多信息。</a></div>
		{{range .Webhooks}}
		<div class="item">
			{{if eq .LastStatus 1}}
			<span class="text green"><i class="octicon octicon-check"></i></span>
			{{else if eq .LastStatus 2}}
			<span class="text red"><i class="octicon octicon-alert"></i></span>
			{{else}}
			<span class="text grey"><i class="octicon octicon-primitive-dot"></i></span>
			{{end}}
			<a href="{{$.BaseLink}}/settings/hooks/{{.ID}}">{{.URL}}</a>
			<div class="ui right">
				<span class="text blue"><a href="{{$.BaseLink}}/settings/hooks/{{.ID}}"><i class="fa fa-pencil"></i></a></span>
				<span class="text red"><a class="delete-button" data-url="{{$.Link}}/delete" data-id="{{.ID}}"><i class="fa fa-times"></i></a></span>
			</div>
		</div>
		{{end}}
	</div>
</div>




<!--<div class="twelve wide column content">-->
	<!--{{template "base/alert" .}}-->
	<!--<h4 class="ui top attached header">-->
		<!--{{.i18n.Tr "repo.settings.hooks"}}-->
		<!--<div class="ui right">-->

			<!--<div class = "dropdown">-->
				<!--<button href="#dropdownMenu1" class = "btn btn-primary dropdown-toggle" data-toggle="dropdown">-->
					<!--新建web钩子-->
					<!--<span class="caret"></span>-->
				<!--</button>-->
				<!--<ul class = "dropdown-menu dropdown-menu-right">-->
					<!--{{range .Types}}-->
						<!--{{if eq . "gogs"}}-->
						<!--<li>-->
							<!--<a class="item" href="{{$.BaseLink}}/settings/hooks/gogs/new">-->
								<!--<img class="img-12" src="{{AppSubUrl}}/img/favicon.png">Gogs-->
							<!--</a>-->
						<!--</li>-->
						<!--{{else if eq . "slack"}}-->
						<!--<li>-->
							<!--<a class="item" href="{{$.BaseLink}}/settings/hooks/slack/new">-->
								<!--<img class="img-12" src="{{AppSubUrl}}/img/slack.png">Slack-->
							<!--</a>-->
						<!--</li>-->
						<!--{{else if eq . "discord"}}-->
						<!--<li>-->
							<!--<a class="item" href="{{$.BaseLink}}/settings/hooks/discord/new">-->
								<!--<img class="img-12" src="{{AppSubUrl}}/img/discord.png">Discord-->
							<!--</a>-->
						<!--</li>-->
						<!--{{end}}-->
					<!--{{end}}-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
	<!--</h4>-->
	<!--<div class="ui attached table segment">-->
		<!--<div class="ui hook list">-->
			<!--<div class="item">-->
				<!--{{.Description | Str2html}}-->
			<!--</div>-->
			<!--{{range .Webhooks}}-->
				<!--<div class="item">-->
					<!--{{if eq .LastStatus 1}}-->
						<!--<span class="text green"><i class="octicon octicon-check"></i></span>-->
					<!--{{else if eq .LastStatus 2}}-->
						<!--<span class="text red"><i class="octicon octicon-alert"></i></span>-->
					<!--{{else}}-->
						<!--<span class="text grey"><i class="octicon octicon-primitive-dot"></i></span>-->
					<!--{{end}}-->
					<!--<a href="{{$.BaseLink}}/settings/hooks/{{.ID}}">{{.URL}}</a>-->
					<!--<div class="ui right">-->
						<!--<span class="text blue"><a href="{{$.BaseLink}}/settings/hooks/{{.ID}}"><i class="fa fa-pencil"></i></a></span>-->
						<!--<span class="text red"><a class="delete-button" data-url="{{$.Link}}/delete" data-id="{{.ID}}"><i class="fa fa-times"></i></a></span>-->
					<!--</div>-->
				<!--</div>-->
			<!--{{end}}-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->

{{template "repo/settings/webhook/delete_modal" .}}
