{{template "base/head" .}}

<!--main-->
<div class = "git_container">
	{{template "repo/header" .}}
	{{template "base/alert" .}}
	<div class = "git_project tab-base">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="{{.RepoLink}}/project" >概览</a></li>
			<li role="presentation"><a href="{{.RepoLink}}" >代码</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/milestones" >里程碑</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/issues" >任务</a></li>
			<li role="presentation"><a href="{{.RepoLink}}/labels" >标签</a></li>
			{{if .IsRepositoryAdmin}}
			<li role="presentation" class = "active"><a href="{{.RepoLink}}/settings" >设置</a></li>
			{{end}}
		</ul>
		<div class = "tab-content">
			<div class="tab-base tab-stacked-left">
				<div class = "row">
					<div class = "col-sm-4">
						{{template "repo/settings/navbar" .}}
					</div>
					<div class = "col-sm-8">
						<div class="col-sm-12">
							<div class = "panel">
								<div class = "panel-heading panel-heading-height">
									<div class = "panel-control right">
										{{if eq .HookType "gogs"}}
										<img class="img-13" src="{{AppSubUrl}}/img/favicon.png">
										{{else}}
										<img class="img-13" src="{{AppSubUrl}}/img/{{.HookType}}.png">
										{{end}}
									</div>
									<h3 class = "panel-title">添加 Web 钩子</h3>
								</div>
								<div class = "panel-body">
									{{template "repo/settings/webhook/gogs" .}}
									{{template "repo/settings/webhook/slack" .}}
									{{template "repo/settings/webhook/discord" .}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--main end-->

{{template "base/footer" .}}






{{template "base/head" .}}
<div class="repository settings new webhook">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="ui grid">
			{{template "repo/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{if .PageIsSettingsHooksNew}}{{.i18n.Tr "repo.settings.add_webhook"}}{{else}}{{.i18n.Tr "repo.settings.update_webhook"}}{{end}}
					<div class="ui right">
						{{if eq .HookType "gogs"}}
							<img class="img-13" src="{{AppSubUrl}}/img/favicon.png">
						{{else}}
							<img class="img-13" src="{{AppSubUrl}}/img/{{.HookType}}.png">
						{{end}}
					</div>
				</h4>
				<div class="ui attached segment">
					{{template "repo/settings/webhook/gogs" .}}
					{{template "repo/settings/webhook/slack" .}}
					{{template "repo/settings/webhook/discord" .}}
				</div>

				{{template "repo/settings/webhook/history" .}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
