.root{
  min-height:450px;
}
.container{
  padding-top: 23px;
}
.item{
  padding: 47px 45px 35px 25px;
  border-bottom: 1px solid #e8e8e8;
}
.item:last-child{
  border-bottom:0;
}
.password{
  margin: 18px 0 0 15px;
}
.pItem{
  margin-top: 30px;
}
.pItem input{
  display: inline-block;
  border-radius: 3px;
  width: 200px;
}
.pItem button{
  width: 200px;
}
.tip{
  margin-left: 15px;
  color: #db1c18;
  vertical-align: middle;
  font-style: normal;
  display: none;
}
.error>input{
  border: 1px solid #db1c18;
  box-shadow: 0px 0px 6px rgba(247, 0, 47, 0.35);
}
.error>input:focus{
  border: 1px solid #db1c18;
  box-shadow: 0px 0px 6px rgba(247, 0, 47, 0.35);
}
.error .tip{
  display: inline-block;
}
.accountItem{
  margin: 25px 25px 0 25px;
  position: relative;
  overflow: hidden;
}
.accountLeft{
  position: relative;
  display: inline-block;
}
.accountInfo{
  margin-left: 70px
}
.accountLeft:before{
  position: absolute;
  left: 8px;
  font-size: 50px;
  color:#333;
}
.accountInfo h1{
  font-size: 16px;
  color: #333;
}
.accountInfo h1 span{
  margin-left:10px;
  color:#2dafdf;
}
.accountInfo p{
  margin-top: 26px;
  font-size: 12px;
  color: #666;
}
.btn{
  width: 100px;
  float: right;
  display: inline-block;
  margin-top: 15px;
}
.label{
  vertical-align: top;
  margin-top:4px;
}
.show>div{
  visibility: visible;
}
.modileTip{
  margin-top:5px !important;
}
.lastItem{
  padding-top:10px !important;
}
.pad20{
  padding:20px 20px 0;
}
.box{
  margin-bottom:20px;
}
.tabSearch{
  padding:15px 0 0 0;
}
.tabSearch>span{
  display:inline-block;
  width:180px !important;
  vertical-align: middle;
  color:#333;
}
.tabSearch>span>span{
  width:35px;
}
.tabSearch>p{
  display:inline-block;
  color:#666;
  margin-right:10px;
}
.date{
  display:inline-block;
  height:28px !important;
  width:120px !important;
}
.tabSearch>button{
  margin-left:10px;
}
.tabBox{
  padding:15px 0;
}
.account{
  color:#333;
  margin:20px 0 0 20px;
}
.rmb,.rmbNumber{
  color:#2dafdf;
}
.account button{
  margin-left:20px;
}
.rmb{
  font-size:16px;
  margin:0 5px;
}
.rmbNumber{
  font-size:24px;
}
.timeLine{
  position: relative;
  padding:20px 0;
  margin-top:30px;
  margin-left:50px;
}
.timeLine:before{
  content:"";
  position: absolute;
  background:#e8e8e8;
  height:1px;
  display:block;
  top:20px;
  left:17px;
  width:740px;
}
.line{
  position: absolute;
  background:#2dafdf;
  height:1px;
  display:block;
  top:20px;
  left:17px;
  width:0px;
  transition:all ease .5s 0s;
}
.line>span{
  width:10px;
  height:10px;
  border-radius:50%;
  border:1px solid #2dafdf;
  right:0;
  position:absolute;
  top:-5px;
  background:#2dafdf;
  display:inline-block;
  z-index:1;
}
.timeBox{
  float:left;
  width:20%;
  margin-top:-12px;
  position: relative;
}
.timeBox:first-child:after{
  display:none;
}
.timeStat{
  text-align:center;
  position:relative;
  display:inline-block;
  padding:0 5px;
  cursor:pointer;
}
.timeIcon{
  width:25px;
  height:25px;
  border-radius:50%;
  border:2px solid #e8e8e8;
  display:inline-block;
  font-size:12px;
  line-height:21px;
  text-align:center;
  background:#fff;
  position:relative;
  z-index:2;
}
.timeAction{
  color:#2dafdf;
}
.timeAction>div>span{
  border-color:#2dafdf;
}
.timeAction:after{
  background:#2dafdf;
}
.p{
  color:#666;
}
.p span{
  color:#2dafdf;
  margin:0 3px;
}
.coupon{
  margin-top:20px;
}
.coupon input{
  display:inline-block;
  width:350px;
}
.coupon button{
  display:inline-block;
  vertical-align: middle;
  margin:-3px 20px 0;
}
.dataBox>span{
  width:300px;
  color:#333;
}
.dateModal{
  border-radius:3px 0 0 3px !important;
}
.sumConsume{
  float:right;
  color:#666;
  margin-top:5px;
}
.sumConsume label{
  margin-left:20px;
}
.sumConsume label span{
  color:#2dafdf;
  font-size:16px;
}
.dataBox{
  display:inline-block;
}
.searchBox{
  min-height:100px;
}
.search>div>input{
  width:240px;
  border:1px solid #e8e8e8;
  height:32px;
  background:#fff;
}
.search>div>button{
  margin-left: 20px;
  vertical-align: top;
  width: 54px;
  height: 32px;
  font-size: 15px;
  background: #2dafdf;
  color: #fff;
  border-radius: 3px;
}
.search>div>button:before{
  content:"分发"
}
.search>div>ul{
  width:300px;
}
.search>div>ul>li>a{
  display:inline-block;
  min-height:40px;
}
.search>div>ul>li p{
  margin-top:8px;
  font-size:14px !important;
  color:#2dafdf !important;
}
.tabBox table > tbody > tr > td:first-child{
  text-align:center !important;
}
@media(max-width:768px){
  .table{
    width:620px;
    padding:10px;
  }
  .item{
    padding:20px;
  }
  .left{
    float:left;
    margin-top:15px;
  }
}

