.cdBd{
  padding:25px 0 0 0;
}
.cdBd h4{
  font-size:14px;
  color:#333;
  margin-bottom:30px;
  margin-left:15px;
}
.cdBd p{
  margin-left:15px;
}
.cbCodeInfo{
  padding-left:25px;
}
.cbTabs{
  margin-top:40px;
  min-height:500px;
}
.cbTabs>div>ul>li>a:after{
  font-family:"icomoon";
  color:#999;
  content: "\e917";
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 16px;
  font-size:18px;
}
.cbTabs>div>ul>li:nth-child(2)>a:after{
  content: "\e912";
}
.cbTabs>div>ul>li:nth-child(3)>a:after{
  content: "\e91c";
}
.logHd{
  padding-left:75px;
  margin-top:50px;
  position: relative;
}
.logHd:before{
  color:#cc0000;
  font-size:26px;
  position: absolute;
  left:27px;
  top:-4px;
}
.icon-fail{
  color:#cc0000;
}
.icon-finish{
  color:#6aad00;
}
.logHd label{
  font-weight:normal;
  color:#333;
  font-size:14px;
  padding:0 50px;
  position: relative;
}
.logHd label:after{
  content: "";
  display: inline-block;
  position: absolute;
  width:1px;
  height:15px;
  background:#ced3dd;
  right:0;
  top:3px;
}
.logHd span{
  color:#999;
}
.logHd label:first-child{
  padding-left:0;
}
.logHd label:first-child span{
  color:#24a8d9;
}
.logHd label:last-child:after{
  display:none;
}
.icon-fail label:last-child span{
  color:#cc0000;
}
.icon-finish label:last-child span{
  color:#6aad00;
}
.logBd{
  margin:15px 0 0 75px;
  width:815px;
  height:260px;
  background:#333;
}
.baseSet{
  margin-top:47px;
}
.baseItem>div{
  overflow:hidden;
  margin-bottom:40px;
}
.baseItem>div>div{
  margin:0;
}
.baseItem>div>div:first-child{
  width:135px;
  text-align: right;
  margin-right:10px;
  margin-top:7px;
  padding:0;
  color:#333;
}
.baseItem>div>div:last-child{
  color:#999;
  font-size:12px;
}
.baseItem input[type="text"]{
  border-radius:1px;
}
.handleBox{
  padding:46px 0 40px 32px;
}
.handleBox button{
  width:350px;
  box-shadow:none;
  height:37px;
}
.handleBox p{
  font-size:12px;
  color:#cc0000;
  margin:13px 6px;
}

